[2017-03-28 10:14] apal21 commented on #544
No I haven't added that. I'll try after adding it.

[2017-03-28 16:55] xaos11 commented on #635
It's throwing a JSON error. Check your config.json for stray formatting errors. Run it through a json validator to make sure it's good.

[2017-03-28 17:05] xaos11 commented on #637
Sounds like an error in the pom.xml file. Make sure you didn't use quotes around the "alpn-boot.version" entry in the pom.xml file. If this is not the case, you could provide a copy of the pom.xml file for troubleshooting. If mvn verify and mvn install run with build errors, provide the output with the -X flag. If those run fine provide the output of mvn -X exec:exec.

[2017-03-28 17:22] jordan-heier commented on #633
Hi @jtlkm ,

Unfortunately we do not have any sample code for the C language currently. Looking at the AVS document you referenced there are instructions on how to format the header and the multipart messages ([https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/avs-http2-requests](https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/avs-http2-reque

[2017-03-28 18:19] jordan-heier commented on #635
Hi @TeamKalis ,

Please double check your config.json as @xaos11 has recommended. If you are still seeing the errors can you post your config.json file here?

[2017-03-28 18:24] jordan-heier commented on #637
Hi @jtlkm ,

The output from your companion service looks correct. Can you run mvn -X exec:exec for debug information and post the output?

[2017-03-28 19:29] architek1 commented on #604
Yeah, I'm having the same error still as well @MrTrainCow. All demos and apps are working except this Alexa app :( Did you get it working?

[2017-03-28 20:13] jordan-heier commented on #628
Can you please run "pwd" and give us the directory that is printed. Can you also give us the full command you are running when you execute maven.

[2017-03-28 20:33] jordan-heier commented on #631
Hi @Allen9453 ,

Can you update the VLC path to not include whitespace as described [here](https://github.com/alexa/alexa-avs-sample-app/wiki/Windows#3---install-dependencies)? If that technique doesn't work can you try moving VLC to a path that doesn't include whitespace.

One last note is that Alexa does not currently support the language zh_TW. You may run into further issues with that language

[2017-03-28 20:38] jordan-heier commented on #632
Hi @jtlkm ,

The request that you have made is invalid. Please closely look at the documentation around [Structuring an HTTP/2 Request to AVS](https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/avs-http2-requests)

[2017-03-28 20:53] MrTrainCow commented on #629
I also tried this but it didn't work.

[2017-03-28 21:39] TeamKalis commented on #635
@jordan-heier Yes.

I actually re-installed and I'm not getting this error.

C:\alexa-avs-sample-app-master\samples\javaclient>mvn exec:exec
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Alexa Voice Service Sample Java Client 20160207.2
[INFO] -------------------------------------------------------------------

[2017-03-28 21:53] namanmittal-namanm commented on #623
Hi @jtlkm I think the issue might be because the grant has been misspelled as grand, can you try correcting it.

[2017-03-28 21:59] TeamKalis commented on #635
Alright. I fixed this error

Installed 64 bit VLC.

I now am having this..
User is not authorized to access this URL. Make sure the client certificate is set up properly
on npm.

help

[2017-03-28 22:10] LukeDefeo opened #638 "Not integrated with my account"
I have created a custom device which i want to communicate with AVS. I have authenticated, created an auth code, auth token and can refresh it.

I can send audio to the service and it works, i can ask it tell jokes ask for the weather etc. The device appears in my alexa app but is always 'offline' After some weird UI bugs that didn't occur with my echo dot i put in an address that is close to mine

[2017-03-28 22:32] TeamKalis commented on #635
Now i'm having this issue (I accidently picked the wrong CA)

Error retrieving registration code: BadRequest, The provided product and dsn do not match valid values

[2017-03-28 22:45] xaos11 commented on #635
@TeamKalis : I had actually struggled with this in the past. I found that in config.js (which should match dsn in config. json, if I recall correctly) products field requires two values. I had actually used the same value for dsn and ProductID so they matched in config.json for me. I'm assuming it goes productID:["DSN"]

For my product config in config.js:
[code]

[2017-03-28 23:15] buluba89 opened #639 "Alexa voice stops, after a skill with sound starts"
Hello
I installed alexa on my bananapi and it works unexpectedly good.
But have a problem, i installed some skills that play sounds, for example "Sleep Sounds: Babbling Brook", and when i open it, starts to play sound as expected.
But afterwards alexa voice is not audible, it activates when i say "alexa", starts and stop the skills when i say, but the voice and the activation sound is not audible

[2017-03-28 23:29] wjdean76 opened #640 "npm Error in npm start"
When ever i go to run the following command i get the following error. I've reinstalled everything multiple times along with doing a fresh install of raspain. Please help.

pi@raspi:~/Desktop/alexa-avs-sample-app/samples/companionService $ npm start

This node service needs to be running to store token information memory and vend them for the AVS app.

/home/pi/Desktop/alexa-avs-sample-app/samples

[2017-03-28 23:33] Kinjalk commented on #621
@pecirep The tutorial you are following will work only if you have an Echo device. **Alexa on Raspberry pi can't see devices on the network**. So no, you can't connect to any device on your network without actually having an Echo device.
If you want to control GPIOs on raspberry pi ,one way is to write your own  **Smart home skill** and use **AWSIot things**. Alexa on raspberry pi will be able to

[2017-03-28 23:37] Kinjalk commented on #621
@pecirep Hope this helps !

[2017-03-28 23:38] jordan-heier commented on #629
Hi @MrTrainCow ,

It appears that you don't have a microphone recognized by the Sensory engine. When we unplug our Mic from the Raspberry Pi it gives this same issue. Either the Mic is not correctly configures in your .asoundrc file or sensory is not recognizing your mic. Is it possible for you to try another simple $5 microphone?

[2017-03-28 23:54] Kinjalk opened #641 "Run Javaclient headless"
Hello !
I have tweaked some of the codes in **javaclient** and have managed to remove the need to log in again and again. Also I **no longer need to run** **companionService** and am running **wakeWordAgent** as a service on boot. Basically I just need to run one command **mvn exec:exec** (Without having to login again in a browser ) to get Alexa running.

Everything is running very smoothly. But

[2017-03-29 00:04] wjdean76 opened #642 "npm-debug.log"
When i run the first script i get the following error in a log file

0 info it worked if it ends with ok
1 verbose cli [ 'node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.15.12
3 info using node@v0.10.29
4 verbose node symlink /usr/bin/node
5 verbose run-script [ 'prestart', 'start', 'poststart' ]
6 info prestart alexa-voice-service-sample-companion-service@1.0.0
7 info start alexa-voice-

[2017-03-29 01:26] MrTrainCow commented on #629
I think I have a webcam with a mic that I can use

[2017-03-29 01:47] shushi2000 commented on #308
Same problem here on my RPi2 and Raspbian Jessie.

[2017-03-29 02:10] jtlkm commented on #623
Hi @namanmittal-namanm
Thank you for the reply!
I have previously compared the grant_type described in the document, did not find the error。

[2017-03-29 02:22] jtlkm commented on #637
Hi @xaos11  @jordan-heier
I have solved this problem，Thank you for your reply！
The input command  "mvn -e -X exec:exec" can run successfully。Before I entered the command is  "mvn exec:exec" ,
Forgive me not familiar with mvn order.

[2017-03-29 02:25] demech commented on #605
@chenguoguo Thanks for finding this solution. After removing the OpenBLAS lib CPU usage drops from 300% to around 8%.

[2017-03-29 02:38] jtlkm commented on #633
Hi @jordan-heier
Thank for the reply!
I will try to read the document carefully！

[2017-03-29 08:27] sindhura94 opened #643 "all went well! but cannot hear anything!!"
Every step of the setup went well, but at the end could not hear the output in the speaker. Can Somebody tell the reason?

[2017-03-29 09:21] Knightcard opened #644 "Error opening the client app"
I have reload the raspberry software 5 times new to make sure the software is clean then re stalled Alexa software.

 Once I start the different apps
  1/ cd companionService && npm start    looks like it started ok
 2/ cd javaclient && mvn exec:exec             this one the errors happen

[INFO] Scanning for projects...
[INFO]
[INFO] ---------------------------------------------------------------

[2017-03-29 13:45] Darksider109 commented on #628
Thanks for help.
the command to running in the 2nd window is as follows:
d ~/Desktop/alexa-avs-sample-app/samples
cd javaclient && mvn exec:exec
the result from running pwd is as follows:
/home/pi/Desktop/alexa-avs-sample-app/samples/javaclient
Thanks in advance for you help in this matter

[2017-03-29 15:13] xaos11 commented on #639
Check alsamixer to make sure it is not muted. Also run raspi-config to force audio out of the 3.5mm output.  There is a pull request #557 with a fix to force volume to 100, but I am not sure if it fixes this.

[2017-03-29 15:14] xaos11 commented on #643
Check alsamixer to make sure it is not muted. Also run raspi-config to force audio out of the 3.5mm output. There is a pull request #557 with a fix to force volume to 100, but I am not sure if it fixes this.

[2017-03-29 16:47] xaos11 commented on #644
I was running into this a while back, because I was prematurely clicking OK. Make sure to wait until it says "device tokens are ready" in the browser before you click the second popup box that says OK.

[2017-03-29 16:53] jordan-heier commented on #531
This is related to pull request https://github.com/alexa/alexa-avs-sample-app/pull/438. Will keep this issue open until the pull request has been accepted.

[2017-03-29 17:13] jordan-heier commented on #637
Closing issue. If you run into issues around this again, then please reopen it.

[2017-03-29 17:13] #637 closed

[2017-03-29 17:23] mph070770 opened #645 "Viewing verbose output from client?"
Hi.
Is it possible to view all of the API messages from my client (Mac) to Alexa? I'm trying to debug what is probably a malformed message that I'm sending to Alexa and it would be good to view the JSON format of working messages between Alexa and my device.

[2017-03-29 17:33] jordan-heier commented on #639
Hi @buluba89 ,

When you restart the application it works fine and then once you invoke a skill the application gets into a bad state? Does this happen with all skills or only certain ones? Does the sound of the skill continue to work even after the Alexa voice and bells stop coming through? If you play music does this happen as well or only for skills?

[2017-03-29 17:43] jordan-heier commented on #641
Hi @Kinjalk ,

We don't currently support running the Java client in headless mode. The closest support for this that we have right now is using [SSH & VNC](https://github.com/alexa/alexa-avs-sample-app/wiki/Setup-SSH-&-VNC). Please let us know if you are able to get this working successfully.

[2017-03-29 18:03] OfficialLegend27 commented on #47
Hey can you help me i have the same problem and no idea what to do...

[2017-03-29 18:04] jordan-heier commented on #642
Hi @wjdean76 ,

Can you give us a little more information about your problem? What platform are you on? It looks like by the first script you are talking about the npm start command. Depending on the platform you are on there are different setup steps. One thing you can check is make sure that you are running the command from the correct folder which is the "companionService" folder or your worksp

[2017-03-29 18:27] namanmittal-namanm commented on #645
Hi @mph070770 You can see all the request made to alexa in the application.log file. The file is located inside samples/javaclient/logs

[2017-03-29 18:43] jordan-heier commented on #643
Hi @sindhura94 ,

Can you please try the steps that @xaos11 has mentioned and let us know if they work for your issue?

[2017-03-29 18:49] namanmittal-namanm commented on #623
Hi @jtlkm Can you please confirm changing grand_type to grant_type in the URL: "https://api.amazon.com/auth/o2/token? ~~grand_type~~ grant_type=authorization_code&code=ANYypRIFanIrOciwRBlU&client_id=amzn1.application-oa2-client.d9f5b8d382654e5da8fe4e17a1388984
&client_secret=amzn1.application-oa2-client.d9f5b8d382654e5da8fe4e17a1388984&redirect_uri=https%3A%2F%2Flocalhost%3A3000%2Fauthresponse" wo

[2017-03-29 18:51] jordan-heier commented on #644
Hi @Knightcard ,

Can you try the following?

- Make sure that the product id matches what's on developer.amazon.com
- Make sure that the product id and dsn match between the config files.
- Make sure that the security profile has the correct redirect urls. They must be https!
- The security profile might not be associated with the alexa:all permissions or the product id you are trying to sign int

[2017-03-29 19:18] JHdeVilliers commented on #308
Please follow the instructions for "2. The library license key has expired. How do I extend it?"  in the [frequently asked questions](https://github.com/Sensory/alexa-rpi#frequently-asked-questions) section of the [README](https://github.com/Sensory/alexa-rpi/blob/master/README.md). This should correct any damage to your installed Sensory TrulyHandsfree files.

[2017-03-29 19:23] chenguoguo commented on #546
You could give this PR (https://github.com/alexa/alexa-avs-sample-app/pull/634) a shot, which should improve the kitt_ai engine quite a lot

[2017-03-29 20:24] TeamKalis commented on #635
This has all been resolved. Thank you!

Anyone else having issues registering your alexa program w/ amazon? I can't seem to get the webpage to load.
![image](https://cloud.githubusercontent.com/assets/26728907/24474887/1fc1611a-149c-11e7-8e93-cfa4e93ad685.png)

[2017-03-29 20:54] TeamKalis commented on #635
Now i'm getting this

![image](https://cloud.githubusercontent.com/assets/26728907/24476168/5b2d04f8-14a0-11e7-9adb-ea24d1f8f79c.png)

This is just bull.

[2017-03-29 20:55] jordan-heier commented on #640
Hi @wjdean76 ,

There are a couple possible issues. Are you sure you completed Steps 5 & 6 on the [Raspberry Pi Setup Instructions](https://github.com/alexa/alexa-avs-sample-app/wiki/Raspberry-Pi#lets-get-started) correctly? If so can you run npm list from the companionService directory and let us know what the output of that command is? We can then test with the express version you are using to s

[2017-03-29 21:04] jordan-heier commented on #626
Hi @Rohk25 ,

Please take a look at related issue https://github.com/alexa/alexa-avs-sample-app/issues/329 and let us know if the steps that worked for the people on that issue work for you as well.

[2017-03-29 21:08] TeamKalis commented on #5
Still having this issue after numerous fixes.

[2017-03-29 21:10] xaos11 commented on #635
Ok...  I would suggest:
Clear cookies/cache
Different browser
Verify your self signed certificates were created successfully.

Also, if you're running into any type of other network issues it could be an issue with the TCP/IP stack. A common fix for such issues is `netsh winsock reset`. It's also probable that it is a network card issue if it's sending malformed requests. But this is just worth no

[2017-03-29 21:11] jordan-heier commented on #592
Hi @alepanzetta ,

You are also having the issue? Is it possible that there is some firewall blocking access to "http://mirrordirector.raspbian.org". Are you seeing the same output as @RP2110 every time?

[2017-03-29 21:16] jordan-heier commented on #602
Hi,

It sounds like there are a few people experiencing this issue. Is this intermittent or does it consistently happen with every request? If there are any requests that are getting through could you provide me with the Request ID so I can try to look up what the issue is with some of these TimeoutExceptions?

[2017-03-29 21:17] MrTrainCow commented on #629
With different mic, I could still talk to Alexa, but I couldn't use the wake word. (still)

[2017-03-29 21:23] xaos11 commented on #629
I would try some of the suggestions from issue #277, but first check the Sensory FAQ: https://github.com/Sensory/alexa-rpi#frequently-asked-questions

[2017-03-29 21:55] alepanzetta commented on #592
I think your reply was meant for someone else? :)

[2017-03-29 22:02] xaos11 commented on #592
@alepanzetta @RP2110 I noticed this issue is popping up a lot. It would seem there are some good suggestions in issue #329 for "fatal error: pa_ringbuffer.h: No such file or directory"

[2017-03-29 22:22] alepanzetta commented on #592
I had fixed it with the patch and it worked. Anyway it was pretty unstable anyway so I gave up for now

[2017-03-29 22:29] xaos11 commented on #592
@alepanzetta What kind of instability are you running into? CPU usage or segmentation faults by chance?

[2017-03-29 22:40] alepanzetta commented on #592
Every time I move the Pi to a different place or simply reboot it something goes wrong and the wakeword doesn't work anymore

On Wed, Mar 29, 2017, 6:29 PM Ray Holden <notifications@github.com<mailto:notifications@github.com>> wrote:

@alepanzetta<https://github.com/alepanzetta> What kind of instability are you running into? CPU usage or segmentation faults by chance?

—
You are receiving this bec

[2017-03-29 22:41] alepanzetta commented on #592
Every time I move the Pi to a different place or simply reboot it something goes wrong and the wakeword doesn't work anymore, kinda frustrating

[2017-03-29 22:43] buluba89 commented on #639
thanks for your answer i managed to fix this (randomly) by messing around with alsa settings. I think because i had a usb sound card, something was going wrong

@jordan-heier Yes when i was launching it, it worked fine until i was starting a skill. Afterwars the sound of the skill was playing correctly, but i couldnt hear alexa. I tried some skills like: news feed, Babbling Brook, an ocean sounds

[2017-03-29 22:43] #639 closed

[2017-03-29 23:50] pecirep commented on #621
Dude you are insane. Thank you for this, I really appreciate it. I assume I have to delete the abundant appliances in the lambda code? I'm not done yet, finishing it early tomorrow though, I'll let you know how it went

[2017-03-30 01:15] jordan-heier commented on #638
Hi @LukeDefeo

The offline issue may be because the device is not responding to the SetEndpoint directive. Can you confirm that you are handling this directive? When you log onto alexa.amazon.com, do you get redirected to alexa.amazon.co.uk? Can you check and let us know if your app is connecting to the US or EU AVS endpoint?

[2017-03-30 03:01] shaolinkhoa commented on #602
Hi @jordan-heier ,
I think the problem was my internet connection of that day.
The next day, I ran the old sample and everything worked normal just like nothing happened.

[2017-03-30 03:14] Allen9453 commented on #631
Thank @xaos11 so much
I already check VLC architecture(change to 64 for matching Java).
The result is BUILD SUCCESS.

But there is issue at next step. => 6a - Node.js
    When you run the client, a window should pop up with a message that says -

    Please register your device by visiting the following URL in a web browser and following the
    instructions: https://localhost:3000/provision/d340f

[2017-03-30 03:24] Allen9453 commented on #631
Hi @jordan-heier

Thanks your suggestion
I will change "C:\Program Files\VideoLAN\VLC" to "C:\Progra~1\VideoLAN\VLC".
And try to change system language  to zh_US for test.

It maybe be solved for "6a - Node.js issue".

[2017-03-30 05:55] Allen9453 commented on #631
The error information
![image](https://cloud.githubusercontent.com/assets/26700096/24489511/7e4c0320-1550-11e7-9aab-53bbefac2219.png)

[2017-03-30 06:35] xxtechwreck commented on #5
I am not able to get past the "We're sorry! An error occurred when we tried to process your request." message. I have changed the ProductID to the Display name/ everything I have because i named them all the same thing.

[2017-03-30 07:17] shaolinkhoa commented on #533
hi @Alexnagel ,
Thank you.
I'm using [Jabra Speak 510](http://www.jabra.com/business/speakerphones/jabra-speak-series/jabra-speak-510) and  It works.
But sometimes the sound seems terrible. Do you have any solutions ?

[2017-03-30 07:25] jtlkm commented on #633
Hi @jordan-heier
I read the above document still do not know how to send the multipart  message！
The multipart  message  format is as follows：
--this-is-a-boundary
Content-Disposition: form-data; name="metadata"
Content-Type: application/json; charset=UTF-8
{
    "context": [
        {
            "header": {
                "namespace": "AudioPlayer",
                "name": "PlaybackState"

[2017-03-30 08:30] Knightcard commented on #644
Yes all on Amazon is correct I even made a whole new one then ran {nano automated_install.sh}  and installed the new data save it and check to make sure it save it.

Still came back with the same errors

 _NFO] ------------------------------------------------------------------------
[INFO] Building Alexa Voice Service Sample Java Client 20160207.2
[INFO] -------------------------------------------

[2017-03-30 08:34] Knightcard commented on #644
xaos11

no this is not the problem

[2017-03-30 09:00] jacky-ge opened #646 "How to obtain authorization within APP through WebView,rather than through the external Browser?"
private Intent getIntent(String url, Context context) {
        Uri uri = Uri.parse(url);
        Intent intent = new Intent("android.intent.action.VIEW", uri);
        intent.addFlags(268435456);
        intent.addFlags(1073741824);
        intent.putExtra("com.android.browser.application_id", context.getPackageName() + ".amazon.auth");
        return intent;
    }

I see here is by launching an

[2017-03-30 10:02] LukeDefeo commented on #638
no i don't get redirected, how do i handle this, is there any documentation. fyi its not a proper device just a bunch of scripts similar to this repo.

[2017-03-30 10:23] manishasinghsk opened #647 "<groupId>org.codehaus.mojo</groupId> <artifactId>exec-maven-plugin</artifactId> <version>1.4.0</version> is not working"
Hi Team,

Here is my code which is not able to execute goal -

<plugin>
						<groupId>org.codehaus.mojo</groupId>
						<artifactId>exec-maven-plugin</artifactId>
						<version>1.4.0</version>
						<executions>

							<execution>
								<id>install-win64</id>
								<phase>pre-integration-test</phase>
								<goals>
									<goal>exec</goal>
								</goals>
								<configuration>

[2017-03-30 11:44] maorwhere commented on #644
Hello
I have the same problem as well.

[2017-03-30 15:09] jordan-heier commented on #646
Hi @jacky-ge ,

It is possible to obtain authorization from within a WebView rather than an external browser. Please take a look at the documentation on [Authorizing from a Companion Site](https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/authorizing-your-alexa-enabled-product-from-a-website#resources). As long as you can follow the flow outlined in the document you can

[2017-03-30 16:13] jordan-heier commented on #644
Hi @Knightcard ,

You have run "mvn -X exec:exec" from the wrong directory. Can you please rerun it from the "alexa-avs-sample-app/samples/javaclient/" directory.

[2017-03-30 16:17] jordan-heier commented on #608
Hi @steelblue48310 ,

Did the re-install fix the dpkg issues you were running into or are you still having issues?

[2017-03-30 18:19] Knightcard commented on #644
Sorry here it is

pi@raspberrypi:~/Desktop/alexa-avs-sample-app/samples/javaclient $
pi@raspberrypi:~/Desktop/alexa-avs-sample-app/samples/javaclient $ mvn -X exec:exec
Apache Maven 3.0.5
Maven home: /usr/share/maven
Java version: 1.8.0_121, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-8-oracle/jre
Default locale: en_GB, platform encoding: UTF-8
OS name: "linux", version: "4.4.50-v7+",

[2017-03-30 18:20] Xperia0 opened #649 "USB Microphone & 3.5mm Audio Problem"
Hey, i have a little trouble to set the right config.
On install, no errors and with the java button it also worked fine.

When i start the wakeword engine this shows up:
`
INFO:main: Starting Wake Word Agent
INFO:WakeWordAgent: State set to IDLE(2)
INFO:Initializing Sensory library | library name: TrulyHandsfree | library version: 5.0.0-avs.4 | model file: ../ext/resources/spot-alexa-rpi.snsr
WAR

[2017-03-30 19:57] LukeDefeo commented on #638
the end point is https://access-alexa-eu.amazon.com/v1/avs/speechrecognizer/recognize

When / how do i receive this set endpoint directive

[2017-03-30 22:56] steelblue48310 commented on #608
Yes...  it did.  Sorry for not updating this thread.   The only thing I did
differently was to use a 16Gb SD card instead of a 8Gb card.  So, either
the card is defective, or 8Gb isn't enough to do the install.

I am still working through a small issue with the USB sound device, but if
I can't figure it out, I will start a new thread.

Thanks for following up.

On Thu, Mar 30, 2017 at 12:17 PM, Jo

[2017-03-31 00:59] #608 closed

[2017-03-31 01:04] wsgwx opened #650 "How to control bluetooth with alexa?"
I want to connect bluetooth with alexa like the echo ,but when i ask alexa to connect,it always replies "your device has not support for bluetooth" . However ,i can connect my iphone to the device with bluetooth.Dose anybody know how to realize that or just give me some usefull advice?

[2017-03-31 01:40] jacky-ge commented on #646
Hi @jordan-heier
Thank you very much for answering this question.
I want to obtain authorization for device by Android as you say.
In this page [https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/authorizing-your-alexa-enabled-mobile-app](url), setep 6

6.Call AuthorizeManager.authorize.
In the onClick handler for your Login with Amazon button, call authorize to prompt th

[2017-03-31 02:12] ch40sth30ry opened #651 "Pi w/ Jessie Keeps Rebooting During Install Script"
My Raspberry Pi 3 keeps rebooting during the execution of the automated_install script. I've had this Pi for a while and have used it for all kinds of projects ... never had this problem before. The Pi is stable in every other project I've used it with. I've tried to fresh image a couple different SD cards with the latest Jessie w/ Pixel image but the Pi keeps rebooting in the middle of the instal

[2017-03-31 02:26] ch40sth30ry commented on #651
Closing this issue. I connected a higher amperage power adapter and the install finished without issue.

[2017-03-31 02:26] #651 closed

[2017-03-31 06:39] SyedKabeer commented on #574
@jordan-heier  This is my VLC path **VLC_PATH** **C:\Progra~1\VideoLAN\VLC**

[2017-03-31 06:56] sindhura94 commented on #643
@xaos11 and @jordan-heier Hey! How do we check the the status of the alsamixer?

[2017-03-31 07:55] #645 closed

[2017-03-31 08:05] sindhura94 commented on #643
A new progress! It actually worked. But I could hear the output from the HDMI screen but not through the headphone or the speaker. What does this mean?

[2017-03-31 08:24] mph070770 opened #652 "Alexa "what's this" not working for my app"
Can anyone advise on how you inform Alexa that music is playing on a device? I'm using the mac alexa-avs-sample-app and when the radio is playing I can ask alexa "what's this" and she replies "it's radio xxxx". On my app she replies "no music is playing"

On my iOS app, I'm sending "playbackStarted" messages when the stream starts playing, and sync messages including the audioplayer status (with v

[2017-03-31 08:30] shaolinkhoa opened #653 "Sound output from USB speakerphone is terrible"
hi,

I'm using [Jabra Speak 510](http://www.jabra.com/business/speakerphones/jabra-speak-series/jabra-speak-510) and the sound from raspberry Pi's media output normally. But Alexa doesn't output sound

So I followed those steps from [issues 533 ](https://github.com/alexa/alexa-avs-sample-app/issues/533#issuecomment-279214813).
After I disabled the default soundcard and reboot, Alexa could output t

[2017-03-31 09:23] rickey527 commented on #235
Is there no way to go back and do it after the fact? Or some way to delete your device and start over...

[2017-03-31 12:14] sindhura94 commented on #643
The output is obtained. But it is very low. What should be done?

[2017-03-31 12:32] sindhura94 commented on #643
Why is the process time too much? It is taking quite a time to answer the question.

[2017-03-31 14:14] xaos11 commented on #235
@rickey527 Amazon Music on AVS-Sample-App appears to only be supported if you are a developer actively working on a device. Music was cut-off for all security profiles that don't fit this description:
"Amazon Music is currently limited to Alexa-enabled devices that are approved for commercial distribution and use. "
https://forums.developer.amazon.com/questions/57317/how-long-is-it-currently-takin

[2017-03-31 14:21] xaos11 commented on #643
This would depend on your setup. Are you running on raspberry pi 2 or 3? What is the output of "top" with the wake word engine running? How is your internet connectivity? You could check this with speedtest.net, and check for packet loss with pingtest.net

[2017-03-31 15:05] psycomatis commented on #641
Did you manged to work cause i have the same issue

[2017-03-31 15:09] psycomatis opened #654 "I have made it work Alexa"
I have made it work fine Alexa but i have to use 3 terminal one by one. Is there a way i can make it on boot startup ? im new in this trying to learn :D. do i need to make a script python? or something else

[2017-03-31 15:32] Kinjalk commented on #641
@psycomatis  No not yet.

[2017-03-31 16:55] jordan-heier commented on #646
Hi @jacky-ge ,

As it points out, Amazon devices on Fire OS use that option even if the Amazon Shopping App is not installed. This means that the second way is fine, the user just won't get the Single Sign On (SSO) benefits. To get the SSO benefits, the user must already have installed and signed into the Amazon Shopping app.

[2017-03-31 17:06] jordan-heier commented on #644
Hi @Knightcard ,

Unfortunately it looks like you are still running into the exact same issue after trying my previous steps. That means we will need to work with the authentication team to diagnose your issue. In order to do this can you please send us your product id, DSN, and time that you tried to log in (include timezone!)

[2017-03-31 17:16] jordan-heier commented on #647
Hi @manishasinghsk ,

Could you please explain your issue a little more? What platform are you using? Have you successfully gotten the app to run but are now running into problems? If there are any error messages you are running into it would be helpful if you can share those as well.

[2017-03-31 17:25] jordan-heier commented on #650
Hi @wsgwx ,

This is not a feature currently supported on third party devices. You should be able to connect your device to bluetooth manually so that all audio, including Alexa audio is output through bluetooth. You will not be able to voice control the bluetooth source though.

[2017-03-31 17:46] jordan-heier commented on #654
Hi @psycomatis ,

This is not something we currently support, however it may be possible to set this up. One issue is that one of the Windows that opens is running the companionService and a user may need to sign in. While it is not totally related you may want to take a look at making the Raspberry Pi headless by [Setting up SSH & VNC](https://github.com/alexa/alexa-avs-sample-app/wiki/Setup-SSH-

[2017-03-31 18:10] jordan-heier commented on #652
Hi @mph070770 ,

Have you fully implemented support for all of the events in the [AudioPlayer Interface](https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/reference/audioplayer)? If so could you please provide us with some request IDs so we can look more into the cause of the issue?

[2017-03-31 18:15] jordan-heier commented on #649
Hi @Xperia0 ,

Please take a look at this [section of our automated_install script](https://github.com/alexa/alexa-avs-sample-app/blob/master/automated_install.sh#L389). Have you made sure to select 3.5mm jack during this step?

[2017-03-31 18:39] mph070770 commented on #652
Hi @jordan-heier, thanks for helping. I believe I have the audio interface implemented correctly. For example, sending playbacknearlyfinished correctly fetches the next track in a playlist. When you say a requestID do you mean a messageID?

[2017-03-31 18:44] jordan-heier commented on #652
Hi @mph070770 ,

Request IDs come down in a response header called "x-amzn-requestid". In the Java sample app you can see these by going to the "alexa-avs-sample-app/samples/javaclient/logs" directory and looking through application.log.

[2017-03-31 19:04] jordan-heier commented on #617
Hi @SomaSharathSurya ,

The access token is not sent with the request JSON, it is sent in the header field "authorization" as described [here](https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/avs-http2-requests#headers). Let us know if you have any more questions.

[2017-03-31 19:09] mph070770 commented on #652
Hi @jordan-heier. Ok, understood. I think I'll have to expose the printing of those responses in my code. Can I just check - is it any response with a responseID that allows you to trace a session as most of my audioplayer responses return with a code 204 i.e. no response body? I'll also try and drill down in the java example to see if I can work out what I'm doing wrong. Thanks.

[2017-03-31 20:22] Xperia0 commented on #649
Hey,
Jeah i have selected 3.5mm jack and also the hands free option.
So alexa understands me and I also hear. Unfortunately only if I take the button.
So the IN / OUT configs would have to be correct?
Thanks.

[2017-04-01 02:18] jacky-ge commented on #646
Hi @jordan-heier
We expect it's possible to obtain authorization don't have to switches to the system browser by most general Android device.

If Android device neither Fire OS nor installed Amazon Shopping App, is it possible to use second way?

[2017-04-01 03:34] howardguo opened #655 "How long is the refreshToken expires_in time?"
Dear .
As I know ,the accessToken expires_in is 3600s, the refreshToken expires_in should be longer than accessToken. How long is the refreshToken expires_in time?

[2017-04-01 07:39] Knightcard commented on #644
Hi jordan-heier,

     Can you tell me how to get the DSN out of a Raspberry.

Thank you

[2017-04-01 19:45] mph070770 commented on #652
Hi @jordan-heier, a responseID for a case where I tuned to BBC Radio 2 and then asked "what's this" is:

0ad848fffe5db783-000076f0-000575d3-4cec39592f528475-8764a842-13

Thanks

[2017-04-02 00:21] wjdean76 commented on #640
Sure, here is the output of npm list

pi@raspi:~/Desktop/alexa-avs-sample-app/samples/companionService $ npm ls

alexa-voice-service-sample-companion-service@1.0.0
/home/pi/Desktop/alexa-avs-sample-app/samples/companionService

├── UNMET DEPENDENCY body-parser@~1.12.4

├─┬ debug@2.2.0

│ └── ms@0.7.1

├── UNMET DEPENDENCY express@~4.12.4

└── node-uuid@1.4.1

npm ERR! missing: body-parser@~1.12.4,

[2017-04-02 03:47] praveen-science opened #656 "Throw new Error can not find module 'express'"
**I am getting following error in installation, Any help?**

`Error: Cannot find module 'express'
    at Function._resolveFilename (module.js:337:11)
    at Function._load (module.js:279:25)
    at Module.require (module.js:359:17)
    at require (module.js:375:17)
    at Object.<anonymous> (/home/pi/Desktop/alexa-avs-sample-app/samples/companionService/app.js:1:77)
    at Module._compile (module.

[2017-04-02 07:37] Simco75 commented on #625
The patch works! Thank you

[2017-04-02 19:23] TeamKalis opened #657 "New issues! YAY"
My Raspberry Pi, Refuses to do any Maven commands. I've installed maven aswell.

[2017-04-02 19:38] psweezey opened #658 "NPM install crashes"
I get everything setup with the amazon developer account and am able to run the install script but can't get it working.
It comes back with an error bash: npm: command not found
So I've tried to install NPM several times, even went back and did a fresh install of Raspbian and uprade... but it crashes every single time. It hangs on the unpacking of wolfram.

Any ideas?

[2017-04-02 19:42] xaos11 commented on #658
How many amps does your power supply output?

[2017-04-02 19:43] xaos11 commented on #657
Sounds like it's not seeing it in the path. Did you run `ldconfig` after installing maven?

[2017-04-02 20:16] pecirep commented on #621
I think I am doing something wrong in the last part. When I say Turn on Computer (thing 1) she responds with ok, I can see the thing in the alexa app. But nothing happens on the pi. Do I have to have the script running? When I run the Controll script it gives me an error

`sudo python mqtt.py
Traceback (most recent call last):
  File "mqtt.py", line 56, in <module>
    iot = createIoT()
  File "mq

[2017-04-02 21:45] Kinjalk commented on #621
@pecirep
Yes, script must always be running.
This error is thrown when AWSIoTMQTTShadowClient is unable to connect to your End point. Verify whether you have correct end point in `iot.configureEndpoint('<END-POINT>', 443)` . If the end point is already correct , verify if you have correct **Access key ID, Secret access key and default region**. Use both
`sudo aws configure` and `aws configure`. Ad

[2017-04-02 22:22] pecirep commented on #621
This worked directly on the Pi that Alexa is installed on. On my Zero i get

`Traceback (most recent call last):
  File "MQTT.py", line 5, in <module>
    from AWSIoTPythonSDK.MQTTLib import AWSIoTMQTTShadowClient
ImportError: No module named AWSIoTPythonSDK.MQTTLib
`

[2017-04-02 22:40] Kinjalk commented on #621
Did you Install AWSIoTPythonSDK on your Pi Zero ?

[2017-04-02 23:21] pecirep commented on #621
I uninstalled libyaml and reinstalled it again. It works now. Thanks man! This is fing awesome!

[2017-04-03 01:32] Kinjalk commented on #621
👍

[2017-04-03 02:24] shaolinkhoa commented on #619
Hi @yugoren ,
I have a problem in #653 .The sound output from my usb speakerphone are terrible if I use wake word engine.
I would like to make a hardware button to trigger instead of clicking on java listen button or using wake word engine.
Do you have any solutions ?

[2017-04-03 05:37] manishasinghsk commented on #647
Hi  jordan-heier,

I am using Windows Platform.

Here is the details -

Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-10T22:11:47+05:30)
Maven home: C:\Software\Maven\apache-maven-3.3.9-bin (1)\apache-maven-3.3.9
Java version: 1.8.0_121, vendor: Oracle Corporation
Java home: C:\Program Files\Java\jdk1.8.0_121\jre
Default locale: en_US, platform encoding: Cp1252
OS name: "wi

[2017-04-03 06:59] TeamKalis commented on #657
I fixed it. I forgot to state the path..

[2017-04-03 11:41] weschurch opened #659 "Error opening client app"
I installed Alexa software on a new raspbian install.  I get this error message as soon as I hit "ok" to load the browser.  I have rechecked the information and followed what you have told others with the same problem.  I need some assistance.

bootstrap_helper: /usr/lib/chromium-browser/nacl_helper: Cannot open ELF file!  errno=2
[1:1:0403/042539.745205:ERROR:nacl_fork_delegate_linux.cc(315)] Bad

[2017-04-03 12:29] wiatrM commented on #621
That should be added to wiki!

[2017-04-03 12:40] gopal-amlekar commented on #514
Hi, I am having this issue today for quite  a long time. It doesn't go ahead. The log file is attached.  [log.txt](https://github.com/alexa/alexa-avs-sample-app/files/890025/log.txt)
One observation is, after you speak the app doesn't recognize this as speech ended (the progress bar still keeps moving listening to audio).
It has worked earlier fine but the exception did occur earlier also. Today i

[2017-04-03 17:09] namanmittal-namanm commented on #644
Hi @Knightcard, you can get the DSN value by Going to alexa_avs_sample_app/samples/companionService and open config.json the value in products array is the DSN value. for eg: products{ "my_device": ["this_value is DSN"]}

[2017-04-03 18:40] namanmittal-namanm commented on #655
Hi @howardguo , the refresh tokens are valid indefinitely and doesn't expire unless the user has removed the website or mobile app from the list of allowed apps for their account.
https://developer.amazon.com/public/apis/engage/login-with-amazon/docs/refresh_token.html

[2017-04-03 19:00] TeamKalis commented on #657
Downloading: https://repo.maven.apache.org/maven2/net/java/dev/jna/platform/3.5.2/platform-3.5.2.jar
Downloading: https://repo.maven.apache.org/maven2/org/eclipse/jetty/jetty-server/9.3.7.v20160115/jetty-server-9.3.7.v20160115.jar
Downloading: https://repo.maven.apache.org/maven2/org/apache/logging/log4j/log4j-core/2.3/log4j-core-2.3.jar
Downloading: https://repo.maven.apache.org/maven2/org/codeha

[2017-04-03 19:01] TeamKalis commented on #657
this happens w/ mvn install. and mvn exec:exec

[2017-04-03 19:07] namanmittal-namanm commented on #659
Hi @weschurch Can you please check the values for ProductID (aka Device Type Id), ClientId and Client secret and make sure they matches with the one on your amazon developer account, and try running it again.

[2017-04-03 20:09] eliogi commented on #57
Any news? I've built my Alexa device with RaspPi, but I'd like to connect my Spotify account... is this possible right now? Thanks.

[2017-04-03 20:40] namanmittal-namanm commented on #657
Hi @TeamKalis, can you please re-run the command with -e and -X flags.
mvn -e -X exec:exec and paste the output here to help you better.

[2017-04-03 21:33] namanmittal-namanm commented on #658
HI @psweezey, can you please provide with the log statements output to the screen. Also did you tried running the install script again to install npm?

[2017-04-03 22:25] keleric commented on #308
@shushi2000 Have you tried following @JHdeVilliers's steps? Has that fixed the issue?

[2017-04-03 22:41] keleric commented on #437
Unfortunately, debugging your ALSA .asoundrc file isn't something that can easily be done through Github issues. There are so many permutations of microphone and speaker setups that it just isn't feasible to test them all. I can say that we've tested with this [microphone](https://www.amazon.com/eBerry-Adjustable-Microphone-Compatible-Recording/dp/B00UZY2YQE), using a clean Raspberry Pi image, the

[2017-04-03 23:12] jamieduk opened #660 "wake word not working iv tried eveything"
wake word not working iv tried eveything both engines fail

[2017-04-03 23:50] keleric commented on #628
Can you provide the output of 'mvn validate' and 'mvn install' ?

[2017-04-04 08:08] sindhura94 opened #661 "Alexa+Sonos"
Hey! how can we connect Sonos to our Alexa (Audiosmart 2 mic kit integrated with raspberry pi).
Both Sonos and raspberry pi are connected to same wifi network. How can we connect them?

[2017-04-04 08:11] sindhura94 commented on #654
Yes! This is an issue. Everytime we intend to use Alexa, do we have to connect alexa to screen and run all the three terminals? Or is there any solution for this?

[2017-04-04 09:42] jacky-ge opened #662 "How to get account information on app, and sync with DUT in real time？"
I’d like to ask that how to get some account information after logined in amazon, like account name、device log history and more?

In addition, how to make android app information sync with DUT.  For example, The music metadata on DUT and app how to in sync?

[2017-04-04 10:36] gopal-amlekar commented on #602
Hi, I am getting the exception continuously again. All the setup had worked perfectly a few days ago. I haven't used the app for last week or so. When I tried it yesterday, it started showing the java.util.concurrent.timeoutexception. I haven't changed anything in configuration or anywhere else.
Log file is here.
[log.txt](https://github.com/alexa/alexa-avs-sample-app/files/892772/log.txt)

I am i

[2017-04-04 12:44] weschurch commented on #659
Hi -

I did what you asked and everything is correct.  I tried running it again with the same result.

[2017-04-04 13:12] weschurch commented on #659
One thing I did notice is that I had entered the wrong Product ID:WesAlexaPi.  I corrected it to "WesAlexaPI" after running it one time and getting the error message.  The Alexa Voice Service form continues to give the original Device name after I corrected it.  I do not know if this is part of the problem.
![image](https://cloud.githubusercontent.com/assets/26871044/24658021/4d7dc7d2-18fd-11e7-8b

[2017-04-04 13:14] maorwhere commented on #644
Unfortunately it looks like you are still running into the exact same issue after trying my previous steps. That means we will need to work with the authentication team to diagnose your issue. In order to do this can you *## *please send us** your product id, DSN, and time that you tried to log in (include timezone!)

Where to send? mail? address?

[2017-04-04 13:47] mph070770 commented on #652
Hi @jordan-heier, sorry to push you for comment but could you please check my responseID and see if you can determine why it's not working for me? Thank you in advance!

[2017-04-04 17:06] Darksider109 commented on #628
Hi

For mvn validate:
 mvn validate
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Alexa Voice Service Sample Java Client 20160207.2
[INFO] ------------------------------------------------------------------------
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCES

[2017-04-04 17:06] Kinjalk commented on #641
@psycomatis @jordan-heier @pecirep Done !!  Just now !!!
- Converted GUI app to Console app
- One time login
- Alexa starts on boot and is working great.

[2017-04-04 20:36] keleric commented on #546
I believe the correct solution is the pull request linked in the comment above. Have you tried that? Has it fixed the problem?

[2017-04-04 20:39] keleric commented on #635
@TeamKalis Have you modified the companion service in any way? You shouldn't be seeing that message with a clean version.

[2017-04-04 20:50] DavidM42 commented on #654
my best solution to this is RDP at this moment.
You just have to unintall the RPis installed vnc driver because of complications and install xrdp and now you can use a (pretty low performance laggy but sufficient) Remotedesktopconnection from your PC

[2017-04-04 21:08] DavidM42 commented on #546
Sadly this does not seem to fix this issue at least for my setup. I tried this pull request but got a PCM Error Unable to connect and switched back to sensory which still works

[2017-04-04 21:15] keleric commented on #629
@MrTrainCow, did you try any of the suggestions from the post @xaos11 linked to?

[2017-04-04 21:22] keleric commented on #606
The sample app wasn't designed to be used as an Echo/Echo dot replacement, but we do recognize that many of our users would like to use it in that way. Auto start is a highly requested feature, and it has been added to our backlog. I recommend following our repository to make sure you're notified when we update the sample app! In the meantime, do check out some of the forks of the sample app that

[2017-04-04 21:22] #606 closed

[2017-04-04 21:24] keleric commented on #592
@alepanzetta I'm sorry to hear that. Can you be more specific about the kind of errors you're seeing?

[2017-04-04 21:33] keleric commented on #633
The message header and content are sent in the same request. Use this as a guide: [Multipart Messages](https://images-na.ssl-images-amazon.com/images/G/01/mobile-apps/dex/alexa/alexa-voice-service/docs/alexa-mms.png)

The first few lines of that image are the HTTP headers - POST, https, etc. Notice that in content type, you're specifying that it's a multipart message with a specific boundary. You'

[2017-04-04 21:39] keleric commented on #631
Hi @Allen9453,

Sorry for the confusion. We use DSN (device serial number) and serial number interchangeably. Make sure the DSN matches between both config files, and when you generated your certificates. config.js should have a field at the bottom that looks like this:
`products: {
  "<product id>": ["<DSN>"]
}`

config.json should have a field called "dsn" within it as well. The two must match,

[2017-04-04 21:48] keleric commented on #638
It sounds like you don't have a downchannel set up. The SetEndpoint directive comes on the downchannel after you send a SynchronizeState event. Please look at the documentation here: https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/managing-an-http-2-connection

SetEndpoint directive: https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/reference/syst

[2017-04-04 21:50] keleric commented on #638
Actually, I just noticed - you're using v1. This is a deprecated API. I *highly* recommend switching to v201602017. Advice on how to do that is here: https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/migration-guide

The v1 endpoint does not support many of AVS's features, including showing up as online in the Alexa App.

[2017-04-04 21:53] keleric commented on #574
Hmm... Here's a possibility. You may be using incompatible architectures. Everything should be on x86_64. Try making sure that both your Java version and VLC version are using the x64 version. The download link on VLC's website is confusing - you have to hit the arrow dropdown to get the x64 version. Let me know if that fixes things.

[2017-04-04 22:08] keleric commented on #649
Hi @Xperia0, can you clarify what you mean by IN / OUT configs? Also, what do you mean when you say "only if I take the button"? Do you mean that the sample app only works in push-to-talk mode?

[2017-04-04 22:12] keleric commented on #646
Hi @jacky-ge, if by second way you mean that it switches to a web view, then the LWA sdk should do that for you automatically. Unfortunately, there really is no way to control how that authorization happens. That's all internal logic contained within the LWA sdk. Did that answer your question?

[2017-04-04 22:15] keleric commented on #640
Hmm... it's very odd that you can't download express or body-parser. I'd recommend trying some of the solutions here: http://stackoverflow.com/questions/24652681/npm-install-is-missing-modules

Let me know if they work for you!

[2017-04-04 22:17] keleric commented on #656
Can you try running npm install before running npm start? Also, if you ran the automated install script, you shouldn't be seeing this. Maybe there was an error while running it? I'd recommend starting from scratch and doing the automated_install.sh script again, paying attention to see if it failed at any point.

[2017-04-04 22:20] keleric commented on #647
Hi @manishasinghsk, do you mind pasting the output of the error? 1.4.0 should work fine, so I'd like to figure out why it's broken for you.

[2017-04-04 22:33] keleric commented on #621
@Kinjalk You're my hero. Seriously dude, fantastic tutorial! Thanks for making the Alexa ecosystem awesome!

[2017-04-04 22:33] #621 closed

[2017-04-04 22:40] Kinjalk commented on #621
@keleric hahah... thanks !

[2017-04-04 22:41] keleric commented on #657
Another thought - it seems as though you're having difficulty downloading dependencies from the internet. Make sure your network connection is stable.

[2017-04-04 22:46] praveen-science commented on #656
This is the issue with old raspberian OS, to solve this we need to re-install raspberian. Solved by this method.

[2017-04-04 22:46] #656 closed

[2017-04-04 22:55] keleric commented on #658
Another thing to check - make sure that npm is in your path. Check echo $PATH to see what directories it's searching for npm in.

[2017-04-04 22:56] keleric commented on #625
Excellent! I'm glad you've figured it out.

[2017-04-04 22:56] #625 closed

[2017-04-04 22:56] keleric commented on #660
What kind of errors are you seeing?

[2017-04-04 22:59] keleric commented on #619
@shaolinkhoa - unfortunately, we don't currently support USB speakers. We've found that the 3.5mm jack or HDMI sound output is much more reliable. I'd recommend trying one of those.

As far as hardware buttons go, you can try using the GPIO wake word agent, and hooking up a button to the pin that the GPIO engine is listening to. Then a button press will simulate a wake word being found, which in t

[2017-04-04 23:12] keleric commented on #661
I'm not sure how you want to connect them. What's your use case? Also, have you seen this? http://www.stuff.tv/news/sonos-amazon-alexa-awesome-in-action

Sonos is adding official Alexa support soon!

[2017-04-04 23:15] keleric commented on #662
In order to get Amazon account information, you'll need a different scope than alexa:all. Investigate the profile scope - a little more information is here: https://forums.developer.amazon.com/questions/10869/android-avs-profile-scopes.html

Can you clarify what you mean by DUT? What is that?

[2017-04-04 23:37] keleric commented on #644
@maorwhere Couple questions first:
- Is the browser window opening before you see the AuthSetup error?
- Did you start the companion service before running the client?
- Have you tried switching browsers?

[2017-04-04 23:40] keleric commented on #602
I see you're getting timeout exceptions in the log, but it looks like it's intermittent. As a side note, AVS is not currently supported in India. That could be why you're getting more frequent timeout exceptions. You can try increasing the timeout. See: https://github.com/alexa/alexa-avs-sample-app/blob/master/samples/javaclient/src/main/java/com/amazon/alexa/avs/http/AVSClient.java#L69

[2017-04-04 23:42] keleric commented on #659
The product id is specified in 3 places:
developer.amazon.com
config.js (in the companion service)
config.json (in the javaclient)

Make sure that all 3 places agree! That might be your problem. Let me know if it was!

[2017-04-05 00:35] keleric commented on #644
Something else you could try:
Change your DSN (in all the places it's used - config.js, config.json, and in the certificate generation)
I'd recommend looking at this page: https://github.com/alexa/alexa-avs-sample-app/wiki/Create-Security-Profile

[2017-04-05 02:06] shaolinkhoa commented on #619
hi @keleric ,
Would you mind giving me information about the "GPIO wake word agent" ?

[2017-04-05 02:28] jacky-ge commented on #646
Hi @keleric
Thank you for your patience.
It's not clear yet, Maybe I didn't make it clear.
I hope not obtain authorization automatically, but that use my own layout of WebView to do this, instead of jumping to the system browser.

As follows，defined a layout in companionApp like that, and want to use the WebView what id is 'alexa_web' through WebView.loadUri() to do this. Is this possible?
<Linear

[2017-04-05 02:29] jacky-ge commented on #646
Sorry，the last one did not send out the code
`<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/fragment_root"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <WebView
        android:id="@+id/alexa_web"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
    </WebView>
</Lin

[2017-04-05 07:43] Knightcard commented on #644
done all this many many many many times

@maorwhere Couple questions first:

Is the browser window opening before you see the AuthSetup error?
Did you start the companion service before running the client?
Have you tried switching browsers?

[2017-04-05 07:49] Knightcard commented on #644
I have replace all new software over 11 trimes and i have over 11 device listed i have tried a new one each time.  I have been working on this problem myself for over a month read all the posts here, watched all the youtube views done on this and read all the stories on how to do this to look for answers and all these easy answers i have tried many times over. It's only now over a month later I ha

[2017-04-05 08:12] jtlkm commented on #633
Hi @keleric
Thank for the reply!
The documentation is described below：
”Maintaining a connection with AVS requires two things:
Establishing the downchannel stream
Synchronizing your product’s component states with AVS (AudioPlayer, Alerts, Speaker, SpeechSynthesizer)”
According to the documentation I sent the following request:
1、I carry out the first step：Establishing the downchannel stream
Reque

[2017-04-05 08:25] Allen9453 commented on #631
Hi @keleric

Thanks for your help.
The error part is "products: { "<product id>": ["**_<DSN>_**"] }"

The problem was resolved.

[2017-04-05 08:56] Knightcard commented on #644
Hi jordan-heier,

 here is the data
  login time  1:48am  (+/-  3mins)  Pacific times zone

Security Profile Description .    voice

 /**
 * @module
 * This module defines the settings that need to be configured for a new
 * environment.
 * The clientId and clientSecret are provided when you create
 * a new security profile in Login with Amazon.
 *
 * You will also need to specify
 * the redirect

[2017-04-05 09:59] sindhura94 commented on #661
Hey @keleric!
I have succesfully built Alexa by integrating Audiosmart 2 mic development kit with the Raspberry pi. I have a Sonos speaker at my workplace. I would like to operate it through my alexa. My raspberry pi and the Sonos are connected to the same network. I even know the IP adresses of both the devices.
Is this possible? If yes, kindly help me with the solution.

[2017-04-05 11:22] jtlkm commented on #633
Hi @keleric
Thank for the reply!
Request:
:method: POST
:scheme: https
:authority: stream_data->authority, stream_data->authoritylen
:path: /v20160207/events
authorization: Bearer Atza|IwEBIIEF3MH7S1c4VUXRcFuWrgzkxMJHgZXjxJgMOkVm9lgQCz9UUcLUi4pacYtbk88KnbwLybo83eEmn4_NOmVwlb5RdQvGygDgVJUUuS49DaJYqO__rlk0cCQLYX46CL3OqIY4levmKQZ-uCvpiLeHpC1IA_ZLI4i6xWWBy3CFPT4E4-81xyIgouXCfgue2cMkA8upJLBdvLnQAARuDIY

[2017-04-05 12:52] jacky-ge commented on #662
Hi, @keleric
DUT is the device what is running the javaClient of this repository.

[2017-04-05 13:43] jacky-ge opened #663 "What does mean of LWAException"
{"error":"LWA_ERROR","message":"{\"error_description\":\"Not authorized for requested operation\",\"error\":\"unauthorized_client\"}"}

I met an LWAException like this. Login in Amazon is successful, but the error occured while post to javaClient to refreshToken.

[2017-04-05 14:39] vsthirunavukkarasu commented on #481
Hi i am also facing same problem, please help me to get solution

[2017-04-05 15:00] jdetychey opened #664 "Build error"
Hi there,
After running:
`pi@raspberrypi:~/Desktop/alexa-avs-sample-app/samples/javaclient $ mvn -e -X exec:exec
`
Here is my output:
[code]

[2017-04-05 18:14] keleric commented on #652
@mph070770 Sorry for the delayed response. I've looked into your request id. One thing that I noticed was that in your recognize request, you sent the following context for AudioPlayer:
`{
    "header" : {
      "namespace" : "AudioPlayer",
      "name" : "PlaybackState"
    },
    "payload" : {
      "token" : "",
      "offsetInMilliseconds" : 0,
      "playerActivity" : "FINISHED"
    }
  }`

I

[2017-04-05 18:18] keleric commented on #628
I must say, you've got an unusual case. I haven't seen this error before, and I'm not sure why it's happening. Would it be possible for you to scrap this installation and run through the automated_install.sh script in a new directory? Make sure to save the output of that command, so if something goes wrong I can see where the script failed.

[2017-04-05 18:36] keleric commented on #641
Hi guys - I appreciate your input! We know that headless mode is a requested feature for the sample app, and it is in our backlog. As a general note, we track our feature requests for AVS at the following link: https://forums.developer.amazon.com/spaces/185/index.html, rather than through Github issues, so I'm closing this. Thanks!

[2017-04-05 18:36] #641 closed

[2017-04-05 18:39] keleric commented on #654
If you're interested in this feature, you should create a request for it in our Feature Request space within the forums: https://forums.developer.amazon.com/spaces/185/index.html. Thanks! I'm closing this issue since we don't want to track feature requests through Github.

On another note, to make this easier, you can try switching from companion service to companion app authentication! Once you a

[2017-04-05 18:39] #654 closed

[2017-04-05 18:40] keleric commented on #546
I'm sorry to hear that @DavidM42. Unfortunately, I can't think of much else I can help with - Github issues are not ideal for debugging specific hardware setup issues. Are you OK with me closing this issue, since you have it working with Sensory?

[2017-04-05 18:44] keleric commented on #619
Take a look at this file: https://github.com/alexa/alexa-avs-sample-app/blob/master/samples/wakeWordAgent/src/GPIOWakeWordEngine.cpp
The relevant lines are at the bottom of the file.

You'll see that it's listening on GPIO pin #2. When that pin transitions from LOW state to HIGH state (as defined in WiringPi), it simulates wake word detected. If you hook up a button to that specific pin, and have

[2017-04-05 18:46] keleric commented on #646
Ah, I see what you mean now. Unfortunately, I do not believe this is possible. The LWA sdk handles all aspects of authentication, and I believe it is hardcoded to use the system browser if the Amazon app is not available.

[2017-04-05 18:47] keleric commented on #646
If this is a feature you need, I recommend filing a feature request here: https://sellercentral.amazon.com/forums/category.jspa?categoryID=23

[2017-04-05 18:59] keleric commented on #631
Great! I'm glad it's resolved.

[2017-04-05 18:59] #631 closed

[2017-04-05 19:05] keleric commented on #655
Did @namanmittal-namanm answer your question?

[2017-04-05 19:12] keleric commented on #661
@sindhura94 Would you like all output from Alexa (voice + music) going to the Sonos speakers? Or would you like to be able to say "Alexa, play Coldplay on my sonos speakers"?

If the first, then you need to update Raspbian to output all sound to the sonos speakers - I'm not sure the best way to do that. Maybe bluetooth? Other Github issues might have the answer to that (search alexa output bluetoo

[2017-04-05 19:23] mph070770 commented on #652
Hi @jordan-heier... it was that easy! Thanks for your great support, that's all working now. I had incorrectly assumed that the sync states informed Alexa what was playing. I hadn't noticed that the recognize request also needed the player state. Thanks again.

[2017-04-05 19:23] #652 closed

[2017-04-05 20:05] keleric commented on #662
If I'm understanding you correctly, you want the card information (such as now playing) that you see in the Alexa App to be displayed on the device itself? Currently, that isn't possible, but it's in our backlog! You should still be able to get account information on the device by using the profile scope. Did that answer your question?

[2017-04-05 20:07] keleric commented on #663
Are you running an unmodified version of the sample app and companion service? Are the steps duplicable? How frequently can you reproduce this?

[2017-04-05 20:08] keleric commented on #481
Can you please provide a clear sequence of events to get this error?

[2017-04-05 20:10] keleric commented on #664
Did you run the automated_install.sh script? It seems as though the installation (mvn install) failed. Try rerunning the script, saving the output so we can see if/where it failed.

[2017-04-05 20:35] keleric commented on #633
name="etadata" -> name="metadata"

Your initial playback state should be the following:
`{
"token":"",
"offsetInMillseconds":0,
"playerActivity":"IDLE"
}`

Your initial AlertsState should be two empty arrays, and your initial speech state token should also be "".

Also, it looks like you're not attaching any audio data!

[2017-04-05 21:32] elstryan commented on #644
Hi,

From looking at the logs it looks like the problem is your product id "voice"
Can you please verify that this security profile is associated with your product? You can verify this by going to developer.amazon.com. Clicking on the device and then selecting Security Profile. The credential values should then match.

Additionally please verify that voice is the value that appears exactly what ap

[2017-04-05 21:33] keleric commented on #591
There are 2 methods to authorize with LWA - implicit grant and authorization code. Implicit grant expires after an hour and cannot be refreshed. Authorization code style comes with a refresh token that you can use to get a new access token without reauthentication. Both the companion app flow and companion service flow use authorization code grant. The difference is the companion service always ha

[2017-04-05 23:07] Knightcard commented on #644
Hi elstryan,

You where right I took the wrong id and post it I have so many with doing a new one each time I redo the software. Here is the correct  Device Type ID. voiceq

[2017-04-05 23:12] keleric commented on #644
Ok @Knightcard, so what happens when you use voiceq in the config files?

[2017-04-05 23:20] Knightcard commented on #644
I get what i reported above .

The voice i wrote in the post was from the wrong profile but the data is from the voiceq all the profile I have made now over 11 with new software always come back with the above errors.

The error never change with clean software and new profiles.

[2017-04-06 00:01] elstryan commented on #644
I don't see any requests in the logs with a productId of voiceq. Can you please confirm that this value is set in your config.json

Can you please share the clientId that you are using? What's the date and time of your requests? Are you making requests right now?

At least for the time being lets try and keep the config constant so we can debug what's going on and eliminate things changing.

[2017-04-06 01:33] howardguo commented on #655
@keleric @namanmittal-namanm Yes, thank you very much!:)

[2017-04-06 01:33] #655 closed

[2017-04-06 03:02] jtlkm commented on #633
Hi @keleric
Thank for the reply!
Server Response:
,"payload":{"code":"INVALID_REQUEST_EXCEPTION","description":"No content to map due to end-of-input\n at [Source: java.io.StringReader@4fbf746; line: 1, column: 1]"
Is the '\n' character missing from my request parameter?

[2017-04-06 03:06] jtlkm commented on #633
Hi @keleric
Thank for the reply!
Server Response:
,"payload":{"code":"INVALID_REQUEST_EXCEPTION","description":"No content to map due to end-of-input\n at [Source: java.io.StringReader@4fbf746; line: 1, column: 1]"
Is the '\n' character missing from my request parameter?  I am in accordance with the changes you say, the error is still this

[2017-04-06 07:25] Hakalon opened #665 "Is there any functional difference between AVS on RPI3 and Amazon Echo?"
I just built AVS(Amazon Voice Service) on RPI3 and made some skills through ASK(Amazon Skills Kit) recently, and found the bluetooth can't be activated on RPI3.

This is different from Amazon Echo (I can ask Echo to connect to my phone through bluetooth and play my music).

So I wonder is there any functional difference between them except bluetooth?

If it's not, maybe I can use RPI3 with microph

[2017-04-06 07:26] sindhura94 commented on #661
@keleric
My idea is the second one. Is there any way that we can connect two devices using the same network, providing we know their IP addresses?

[2017-04-06 07:43] jtlkm commented on #633
Hi @keleric
Thank you for your tireless reply！
The documentation is described below：
Maintaining a connection with AVS requires two things:
1、Establishing the downchannel stream
2、Synchronizing your product’s component states with AVS (AudioPlayer, Alerts, Speaker, SpeechSynthesizer)
I executed the second step：Synchronizing your product’s component states with AVS

I use the following function to

[2017-04-06 07:45] jtlkm commented on #633
Hi @keleric
Thank you for your tireless reply！
The documentation is described below：
Maintaining a connection with AVS requires two things:
1、Establishing the downchannel stream
2、Synchronizing your product’s component states with AVS (AudioPlayer, Alerts, Speaker, SpeechSynthesizer)
I executed the second step：Synchronizing your product’s component states with AVS

I use the following function to

[2017-04-06 09:23] jdetychey commented on #664
Hi, thanks for that quick comment, here is my out put for

`sudo bash  automated_install.sh | sudo tee -a log`

[code]

[2017-04-06 14:00] ThoughtfulDev commented on #665
As far as i know Smart Home Devices will not be found by your RPI3 without using a Bypass discussed in #621

[2017-04-06 15:59] gopal-amlekar commented on #602
Ok thanks @keleric. It is intermittent really. I will keep trying.
Meanwhile, if it is not supported in India, it shouldn't work at all then..?

[2017-04-06 17:08] Darksider109 commented on #628
Hi!

as requested automated_install.sh

==== Setting Audio Output =====

Are you using 3.5mm jack or HDMI cable for audio output?

=======================================================

1) 3.5mm jack
2) HDMI audio output

Please select an option [1-2] 1
Selection: 3.5mm jack
numid=3,iface=MIXER,name='PCM Playback Route'
  ; type=INTEGER,access=rw------,values=1,min=0,max=2,step=0
  : values=1
Au

[2017-04-06 17:58] Xperia0 commented on #649
Sorry English is not my native language.
Jeah Exactly its work only with push to talk.
With IN/OUT configs i mean, when it works with push to talk, the ALSA config should be okay?
Or there is another config requied for the handfree option? Then it is my fault!
But I cant find any mistake.

[2017-04-06 20:39] namanmittal-namanm commented on #664
Hi @jdetychey Looks like the installation was successful can you please try running the demo now, and let us know if it does not work.
To run the demo, do the following in 3 seperate terminals:
Run the companion service: cd /home/pi/Desktop/alexa-avs-sample-app/samples/companionService && npm start
Run the AVS Java Client: cd /home/pi/Desktop/alexa-avs-sample-app/samples/javaclient && mvn exec:exe

[2017-04-06 21:15] namanmittal-namanm commented on #665
Hi @Hakalon the differences between AVS on RPi3 and Amazon Echo are like RPi3 doesn't support bluetooth as of now, you cannot access Spotify and Pandora on AVS on RPi3 neither the AVS on RPi3 can discover and operate local smart home devices.

[2017-04-06 21:18] namanmittal-namanm commented on #661
Hi @sindhura94 Unfortunately, currently AVS doesn't support forwarding the audio, Yes this feature will make AVS more powerful but sorry currently we do not support forwarding audio even if we know the IP address or they are on same network.

[2017-04-06 21:24] namanmittal-namanm commented on #628
Hi @Darksider109 are you still seeing the same error after running the service?

[2017-04-06 21:27] namanmittal-namanm commented on #602
Hi @gopal-amlekar we do not explicitly block the request coming from the non-supported countries, we just don't have the servers and other resources installed explicitly to support the non-supported countries.

[2017-04-06 21:44] namanmittal-namanm commented on #633
Hi @jtlkm Can you please check that you have two CLRF character ("\n" character) after charset=UTF-8 as stated in the documentation on : https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html. Please let us know if this solves your problem.

[2017-04-06 22:25] namanmittal-namanm commented on #552
HI @thrylosthyra7 can you please paste the output of arecord -l and arecord -L.

[2017-04-07 06:28] jtlkm commented on #633
Hi @namanmittal-namanm
Thank for the reply!
Follow the prompts to modify my request！ The server did not respond, and eventcb return BEV_EVENT_EOF( Disconnected from the remote host),
Why is it disconnected?

[2017-04-07 08:35] gopal-amlekar commented on #602
Ok @namanmittal-namanm thanks for explanation. I hope it gets supported soon to have a more reliable experience.

[2017-04-07 09:28] Xperia0 commented on #649
@keleric @jordan-heier
Any Ideas what i can try?

[2017-04-07 09:53] jdetychey commented on #664
solved thank you!!

[2017-04-07 09:53] #664 closed

[2017-04-07 10:08] jtlkm commented on #633
Hi @namanmittal-namanm
Thank for the reply!
Follow the prompts to modify my request！ The server did not respond, and eventcb return BEV_EVENT_EOF( Disconnected from the remote host),
Why is it disconnected?  My God, every time after the change there are new problems, how can I do？

[2017-04-07 14:02] Darksider109 commented on #628
Still having the same response even after trying a dozen times (with a clean install of Raspian-Jessy on 2 different SD cards) as well as on 2 different Raspberry Pi 3 B+

[2017-04-07 14:34] jacky-ge opened #666 "How many devices can use the same product id at the same time?"

[2017-04-07 14:38] jacky-ge commented on #662
Hi @keleric
What scope I should use，I tried other scope, but can't register to amazon.

[2017-04-07 16:21] #602 closed

[2017-04-07 20:08] namanmittal-namanm commented on #666
HI @jacky-ge there is no restriction on no of devices that can use the same product id concurrently.

[2017-04-07 22:40] namanmittal-namanm commented on #662
Ho @jacky-ge what is the error you are getting when you tried to register on Amazon, also did you set up the profile scope as per the steps discussed [here](https://forums.developer.amazon.com/questions/10869/android-avs-profile-scopes.html).

[2017-04-07 22:50] namanmittal-namanm commented on #628
Hi @Darksider109 can you please run git diff on pom.xml in javaclient and paste the output.

[2017-04-08 14:06] muhammedkhatri opened #667 "EXEC:EXEC FAILED"
![vnc](https://cloud.githubusercontent.com/assets/26358687/24829601/85820632-1c92-11e7-821a-6e6d0e50f26a.png)

I have attached a screenshot of the error i am getting
Any help is appreciated?

[2017-04-08 14:29] Darksider109 commented on #628
Hi!
Sorry not knowledgeable to know how this is done.  Can you please3 elaborate
Thanks

[2017-04-08 14:34] #667 closed

[2017-04-08 18:21] zyh201007 opened #668 "I have trouble playing m3u8 stream, like prime music."
The log is :
[pool-193-thread-1] ERROR com.amazon.alexa.avs.AVSAudioPlayer - Error playing:https:......m3u8

Please help me，thks！

[2017-04-09 02:14] namanmittal-namanm commented on #628
Hi @Darksider109
Sorry I should have been more clear,
Step 1: go to alexa-avs-sample-app/samples/javaclient
Step 2: run command "git diff pom.xml"
You might need to install git incase it is not installed.

[2017-04-09 16:17] Darksider109 commented on #628
Hi!

Result of "git diff pom.xml"

pi@robvoice2:~/Desktop/alexa-avs-sample-app/samples/javaclient $ git diff pom.xml
diff --git a/samples/javaclient/pom.xml b/samples/javaclient/pom.xml
index 8787c18..9ab4408 100644
--- a/samples/javaclient/pom.xml
+++ b/samples/javaclient/pom.xml
@@ -5,7 +5,6 @@
   <groupId>com.amazon.alexa.avs</groupId>
   <artifactId>sample-java-client</artifactId>
   <version>

[2017-04-09 22:42] aslhdyt commented on #619
i get this error when compiling wake word agent from linuxmint-18

========== Compiling Wake Word Agent ==========
-- Configuring done
-- Generating done
-- Build files have been written to: /mnt/Data/Alexa/alexa-avs-sample-app/samples/wakeWordAgent/src
Scanning dependencies of target wakeWordAgent
[  7%] Building CXX object CMakeFiles/wakeWordAgent.dir/KittAiSnowboyWakeWordEngine.cpp.o
[ 14%] Bui

[2017-04-09 22:46] aslhdyt commented on #619
i get this error when try installing from linux mint-18 x64

can we just remove wiringPi for linux installation?

[2017-04-10 02:30] mathieurb opened #669 "wakeWordAgent won't respond to "alexa""
Hi,

When pressing "Listen" Alexa respond to my command but with the wakeWordAgent running it does not respond or react in the terminal. If i press "Listen" to Alexa Server, it communicate with the wakeWordAgent to put it on std-by and goes back to IDLE after Alexa answer my request. I have no obvious error messages in any terminal window...

Is there different configuration for input sound level

[2017-04-10 04:13] jtlkm commented on #633
Hi @namanmittal-namanm  @keleric  @jordan-heier
Thank for yours reply!
The documentation is described below：
Maintaining a connection with AVS requires two things:
1、Establishing the downchannel stream
2、Synchronizing your product’s component states with AVS (AudioPlayer, Alerts, Speaker, SpeechSynthesizer)
I executed the second step：Synchronizing your product’s component states with AVS。

request

[2017-04-10 04:35] jtlkm commented on #633
Hi @namanmittal-namanm @keleric @jordan-heier
Thank for yours reply!
The documentation is described below：
Maintaining a connection with AVS requires two things:
1、Establishing the downchannel stream
2、Synchronizing your product’s component states with AVS (AudioPlayer, Alerts, Speaker, SpeechSynthesizer)
I executed the second step：Synchronizing your product’s component states with AVS。

request:

[2017-04-10 08:12] RogerZheng commented on #668
this is application log：
4199 20:59:45.803 [pool-7-thread-1] ERROR com.amazon.alexa.avs.AVSAudioPlayer - Error playing: https://d29r7idq0wxsiz.cloudfront.ne
     t/DigitalMusicDeliveryService/HPS.m3u8?m=m&dmid=272028681&c=cf&f=ts&t=10&bl=256k&s=true&e1=1491814800000&e2=1491815700000&v=V2
     &h=16604b2fd8bd1b2d74e7e6799054cddff20d18784f7093e5a5ab9e2ce8112148
4200 20:59:45.831 [pool-7-thread-1] DE

[2017-04-10 09:55] jacky-ge commented on #662
Hi @keleric I set up the profile scope as per the steps discussed，but I don't know what scope should be add to authorize. I have saw on demo of "SampleLoginWithAmazonAppForAndroid" using the scopes("addScopes(ProfileScope.profile(), ProfileScope.postalCode())") can be.
The demo of "andoirdCompanionApp" using the scope of alexa:all can't get information, so I try to addScopes reference to "SampleLo

[2017-04-10 09:56] jacky-ge commented on #666
Hi @namanmittal-namanm Thanks very much

[2017-04-10 09:56] #666 closed

[2017-04-10 09:57] jacky-ge commented on #663
hi @keleric I have solved this，Thanks very much

[2017-04-10 09:57] #663 closed

[2017-04-10 10:22] jtlkm opened #670 "Disconnected from the remote host"
Hi
I use nghttp2 library,I refer to the libevent-client.c file。
The documentation is described below：
Maintaining a connection with AVS requires two things:
1、Establishing the downchannel stream
2、Synchronizing your product’s component states with AVS (AudioPlayer, Alerts, Speaker, SpeechSynthesizer)
When I only perform the first step, it successfully responds, but after a few seconds  eventcb rec

[2017-04-10 13:06] RogerZheng opened #671 "How to debug vlcj?"
I have trouble in playing prime music,how to debug it?

[2017-04-11 07:08] shaolinkhoa commented on #544
Hi @jordan-heier ,

I don't understand in step 4 - linux. If I use an Android app from a devide, Which entry I have to add to `[alt_names]` in `ssl.cnf` ? A IP address of my phone while connecting wifi or what ?

[2017-04-11 08:08] howardguo opened #672 "Issue to send request with nghttp2"
Hi
**When I use the nghttp2 send the request to establish downchannel as bellow:**

[INFO] SSL/TLS handshake completed
sizeof(nva) is 320 sizeof(nva[0]) is 40
[INFO] Stream ID = 1
[INFO] C <---------------------------- S (START SETTINGS)
[INFO] C ----------------------------> S (HEADERS)
:method: GET
:version: HTTP/1.1
:path: /v20160207/directives
:scheme: https
:authority: avs-alexa-na.amazon.com

[2017-04-11 08:41] RogerZheng commented on #668
this vlc log，It seems that is relative to tls：
[aa637260] core access error: net: connecting to d29r7idq0wxsiz.cloudfront.net port 443
[aa637260] core access error: connection succeeded (socket = 63)
[aa637e50] gnutls tls session error: TLS handshake: Resource temporarily unavailable, try again.
[aa637e50] gnutls tls session error: TLS handshake: Resource temporarily unavailable, try again.
[aa637

[2017-04-11 09:37] sevencheng798 opened #673 "Step6: Run the install script occur error?"
when i run the . automated_install.sh on step6,  the following below occurred err:
checking whether to build shared libraries... yes
checking whether to build static libraries... yes
checking for a BSD-compatible install... /usr/bin/install -c
checking whether ln -s works... yes
checking for ar... /usr/bin/ar
checking whether byte ordering is bigendian... no
checking for snd_pcm_open in -lasound..

[2017-04-11 10:17] shaolinkhoa commented on #393
hi @keleric ,
I really don't understand how android app works .
What is the IP I have to add in `ssl.cnf` ? it's the IP of my computer or my raspberry pi or my phone ?
Would you mind helping me ? cause I'm really confused about it

[2017-04-11 10:21] xsfcorp opened #674 "Intermittently get java.util.concurrent.TimeoutException"
When in China, I Intermittently get java.util.concurrent.TimeoutException
10:08:11.982 [Thread-2] INFO  com.amazon.alexa.avs.wakeword.WakeWordIPCSocket - Received wake word detected
10:08:11.983 [Thread-2] INFO  com.amazon.alexa.avs.wakeword.WakeWordIPCSocket - Wake Word Detected ......
10:08:11.986 [Thread-66] DEBUG com.amazon.alexa.avs.AVSAudioPlayer - isEmpty true isPlayingOrPaused false state

[2017-04-11 10:23] xsfcorp commented on #674
I can not judge the reason is on server side or device side?
Does amazon provide any debug tools or methods on server to check the event log, etc?

[2017-04-11 21:22] dskidmor commented on #674
I think there is a good chance you are getting TimeoutException due to latency with hitting the endpoint in North America. You can double check how much latency there is by pinging `avs-alexa-na.amazon.com`, which is ideally under 100ms. If your location just has a high latency, you may want to try increasing your timeout by poking around in the `AVSClient.java` file. Let us know if that helps!

[2017-04-11 21:36] dskidmor commented on #393
The `ssl.cnf` IP address will refer to the raspberry pi. If you need help finding the address, try running `ifconfig` from the command line.

[2017-04-12 03:06] xsfcorp commented on #674
Thanks response!
The above log have changed the timeout to 30sec:
//private static final int REQUEST_TIMEOUT_IN_S = 15;
private static final int REQUEST_TIMEOUT_IN_S = 30;
the TimeoutException sometimes still happen.

below is my ping time.
pi@raspberrypi:~$ ping avs-alexa-na.amazon.com
PING latinum.amazon.com (54.239.25.188) 56(84) bytes of data.
64 bytes from 54.239.25.188: icmp_seq=1 ttl=227 ti

[2017-04-12 04:01] shaolinkhoa commented on #393
I followed this [Linux tutorial](https://github.com/alexa/alexa-avs-sample-app/wiki/Linux).

I thought this app could run alexa on Android instead of run alexa on linux/raspberry-pi.
It seems I misunderstood. This android app just only help me get the authentication.

What I want is run alexa on android phone.

[2017-04-12 04:06] sevencheng798 opened #675 "Compile kitt_ai error on Pi platform?"
I run alexa_avs_sample at step6 . automated_install.sh on pi, and make in the directory ../kitt_ai/snowboy/examples/C++ occurred err:

checking for pthread_create in -lpthread... yes
configure: creating ./config.status
config.status: creating Makefile
config.status: creating portaudio-2.0.pc
config.status: executing libtool commands

Configuration summary:

  Target ...................... armv7l-u

[2017-04-12 04:07] #673 closed

[2017-04-12 07:44] jacky-ge opened #676 "Change account can not take effect immediately"
While I log on to a new account, wake up device and say 'what's profile?',  it's stii the old account, but after restart it, the account has been changed

[2017-04-12 07:46] jacky-ge commented on #662
hi @namanmittal-namanm
The socpe of alexa:all may can't get account information, what should scope write can get information？

[2017-04-12 10:50] satishc4u opened #677 "mvn exec:exec BUILD Failure while testing alexa sample app on Linux platform"
alexa-avs-sample-app/samples/javaclient$   mvn exec:exec

[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Alexa Voice Service Sample Java Client 20160207.2
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- exec-maven-plugin:1.2.1:exec (default-cli) @ sample-java-cl

[2017-04-12 12:04] #672 closed

[2017-04-12 16:45] dskidmor commented on #393
Thanks for the interest, @shaolinkhoa, but that is not supported by this project at this time.

[2017-04-12 16:46] dskidmor commented on #544
The `ssl.cnf` IP address will refer to the raspberry pi. If you need help finding the address, try running `ifconfig` from the command line.

[2017-04-12 16:52] dskidmor commented on #619
Yes, wiringPi is optional so feel free to remove it.

[2017-04-12 17:07] dskidmor commented on #633
I think the SynchronizeState you are sending looks good. Some things to look for:

* Are you sure the server is not responding with a 204? This kind of response is a success, but there will be no message body.
* Are you [handling the downchannel](https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/managing-an-http-2-connection#create) correctly? You should set that up firs

[2017-04-12 17:19] dskidmor commented on #649
Hey @Xperia0, did you follow [Step 6](https://github.com/alexa/alexa-avs-sample-app/wiki/Raspberry-Pi#step-6-run-the-install-script) of the install script guide? In particular, the section by "Terminal Window 3" contains the instructions for getting the wake word engine working.

[2017-04-12 17:22] dskidmor commented on #662
Hey @jacky-ge, try using the `profile` scope to get additional information, as described [here](https://developer.amazon.com/public/apis/engage/login-with-amazon/docs/customer_profile.html).

[2017-04-13 01:58] jtlkm commented on #633
Hi @dskidmor
Thank for the reply!
In fact, when I only perform the downchannel,  it successfully responds, but after a few seconds eventcb received BEV_EVENT_EOF (Disconnected from the remote host).

[2017-04-13 03:35] jacky-ge commented on #662
hi @dskidmor while try using profile:user_id, shows the name and mail on the browse, but the User fetch on Android app is null, What is the reason?

[2017-04-13 06:11] howardguo opened #678 "Invalid Audio Format"
dear. when I send the audio data to AVS bellow：

--__this_is_a_boundary__
Content-Disposition: form-data; name="metadata"
Content-Type: application/json; charset=UTF-8

{
  "event" : {
    "header" : {
      "namespace" : "SpeechRecognizer",
      "name" : "Recognize",
      "messageId" : "29de4c3a-8916-461f-a40e-b4e992b13a8d",
      "dialogRequestId" : "0b66d617-4d7f-4dc8-a394-a7145e3f85b0"
    }

[2017-04-13 07:05] axinitza commented on #674
Hello, I facing the same issue.
My location is Romania (Europe)
How can I change Endpoint, from US	https://avs-alexa-na.amazon.com to UK, Germany https://avs-alexa-eu.amazon.com
Thanks.

[2017-04-13 07:36] howardguo opened #679 "Maximum line length limit exceeded"
what's the problem I got:
{"header":{"namespace":"System","name":"Exception","messageId":"ba7e44bc-e777-4970-b05a-195b919c0ae0"},"payload":{"code":"INTERNAL_SERVICE_EXCEPTION","description":"org.apache.james.mime4j.io.MaxLineLimitException: Maximum line length limit exceeded"}}

[2017-04-13 08:10] #679 closed

[2017-04-13 08:31] fosterfoster opened #680 "Getting audio apps such as spotify to play through Raspbian Alexa..."
To everyone out there,
I have the RaspbianPi running Alexa, and the wake word agent is also up and running, but is there a way to get my premium spotify account to play through this device? I'm relatively tech savvy but I'm not a great programmer. Are there an git projects that address apps such as spotify not playing through my RaspbianPi Alexa, if so can you direct me to them. Lastly, my output

[2017-04-13 10:25] shaolinkhoa commented on #653
Hi @jordan-heier ,

So if I want to use alexa on Pi Zero, do you have any solutions ?
Cause Pi zero doesn't have 3.5 jack sound output.
Thank you

[2017-04-13 10:26] shaolinkhoa commented on #619
Hi @keleric

So if I want to use alexa on Pi Zero, do you have any solutions ?
Cause Pi zero doesn't have 3.5 jack sound output.
Thank you

[2017-04-13 10:32] ire4ever1190 opened #681 "Problem with setting up"
When I run the first setup command

 cd /home/pi/Desktop/alexa-avs-sample-app/samples/companionService && npm start

I get this error

npm ERR! alexa-voice-service-sample-companion-service@1.0.0 start: `node ./bin/www`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the alexa-voice-service-sample-companion-service@1.0.0 start script.
npm ERR! This is most likely a problem with the alexa-voice-s

[2017-04-13 15:54] fosterfoster commented on #681
Add a space before companionService...?

[2017-04-13 15:56] fosterfoster commented on #677
Here is a great guide for building the Alexa. https://www.google.com/amp/lifehacker.com/how-to-build-your-own-amazon-echo-with-a-raspberry-pi-1787726931/amp

[2017-04-13 15:56] fosterfoster commented on #681
Here is an awesome guide for what you are doing: https://www.google.com/amp/lifehacker.com/how-to-build-your-own-amazon-echo-with-a-raspberry-pi-1787726931/amp

[2017-04-13 15:58] fosterfoster commented on #680
If you need any other specs of my current system or have some directions for what to begin working towards let me know!!!!

[2017-04-13 22:06] dskidmor commented on #680
Hey @fosterfoster, music services such as Spotify are enabled on a per-product basis after passing music certification. Unfortunately we are not accepting new products for certification at this time, but you can always follow the [development blog](https://developer.amazon.com/blogs/tag/Alexa) for future updates.

[2017-04-13 22:16] dskidmor commented on #677
Hey @satishc4u, can you confirm that you have VLC installed and working?

[2017-04-13 22:46] dskidmor commented on #669
Hey @mathieurb, do you have any log output you can share to help debug this? Logs from both the app and the wake word engine would be great.

[2017-04-14 01:09] aslhdyt commented on #619
i did remove wiringPi from CMakeList.txt
but when compile using cmake . && make it i get this:
[code]
and sorry im not good at understanding compiling

[2017-04-14 01:55] #675 closed

[2017-04-14 03:28] ire4ever1190 commented on #681
nope still get the same error

[2017-04-14 03:29] howardguo opened #682 "Bad request"
When I use this request , I got a error. what the problem?thanks. error bellow:
{"header":{"namespace":"System","name":"Exception","messageId":"187581c8-491c-4550-8c94-d4598b06f214"},"payload":{"code":"INVALID_REQUEST_EXCEPTION","description":"Bad Request"}}

Request:

--__this_is_a_boundary__
Content-Disposition: form-data; name="metadata"
Content-Type: application/json; charset=UTF-8

{
    "con

[2017-04-14 04:03] ire4ever1190 commented on #681
It says the problem is most likely with this and not npm

[2017-04-14 05:29] swilson72 opened #683 "Alexa started speaking German"
My Alexa has suddenly started speaking German, and I can't see any options to change the setting in the app or web page.  Anyone know how to change the language back to English, or why it would have changed to German for no reason?

[2017-04-14 06:46] Xperia0 commented on #649
Hey @dskidmor!
Hey i have all done exactly like the Guide.
Also no Error logs with the wakeword engine.

[2017-04-14 07:27] Pukington commented on #514
I have this issue also.  It works for a few hours, even occasionaly a day, then the Java app pops up with java.util.concurrent.timeoutexception.

I concur with @gopal-amlekar, this feels like Alexa doesn't realise you stop speaking and keeps listening, then timeouts.  It's rather annoying.

[2017-04-14 07:37] eros23 commented on #48
anyone has solved this problem?

[2017-04-14 08:10] gopal-amlekar commented on #514
Have a look at #602. It seems it is duplicate of this issue. Which country you are in @Pukington? See if your country is supported.

[2017-04-14 08:37] ire4ever1190 commented on #681
reintalled and it worked.
wiered =/

[2017-04-14 08:37] #681 closed

[2017-04-14 09:34] Pukington commented on #514
Thanks @gopal-amlekar, I'm in Australia.  I have increased the timeout in AVSClient.java so shall see how i get one, I appreciate the pointer, thanks!

[2017-04-14 09:41] gopal-amlekar commented on #514
Pleasure..

Okay, can you please do let me know if there is any improvement with the timeout change? I haven't yet tried it.

[2017-04-14 14:01] SasankYadati opened #684 "mvn install - Gave me the following error"
` java -version`

 gives me this

[code]
In step 6, I ran the command `mvn install` and got the following error.

[code]

[2017-04-14 19:03] Partha2k opened #685 "The WakeWordAgent is not starting up."
Still now I haven't experimented with any of the mic configurations yet, that's the reason I am getting the wakewordAgent error.Can A USB Sound Card along with 3.5mm Jacked Mic be used to work the wakeWordAgent kitt.ai rather than a USB Mic?

[2017-04-14 20:45] dskidmor commented on #685
Yes, a USB sound card with mic input should work fine, provided your computer is able to recognize it. What kind of error are you getting?

[2017-04-14 20:48] dskidmor commented on #684
How did you go about installing Java? The `java` binary is used to run programs, while a separate `javac` binary acts as a compiler. These are typically provided by separate distributions, a JRE that contains just the runtime (`java`) and a JDK that contains the runtime and compiler (`java` + `javac`). It's possible you need to use `apt-get` to install a Java compiler.

[2017-04-14 20:51] swilson72 commented on #683
Nevermind, didn't notice the Locale dropdown menu on the Java Applet.

[2017-04-14 20:51] #683 closed

[2017-04-14 21:57] dskidmor commented on #682
Hey @howardguo, do you have any requestId's you could share to help us look up what went wrong? Also, are you sure your audio is in the correct format?

[2017-04-15 02:51] howardguo commented on #682
@dskidmor thank you for your reply. It maybe the boundary issue. I can send it successfully and got the StopCapture reply.
Btw, another question: https://github.com/alexa/alexa-avs-sample-app/issues/678
could you help me to see this one? Thank you! :)

[2017-04-15 13:54] SasankYadati commented on #684
Thank you for responding. I made a mistake by giving wrong path for jdk. I had corrected it and the issue has been resolved!

[2017-04-15 13:54] #684 closed

[2017-04-15 14:07] vatsal2210 commented on #669
pi@pi:~/alexa-avs-sample-app/samples/wakeWordAgent/src $ ./wakeWordAgent -e sensory
INFO:main: Starting Wake Word Agent
INFO:WakeWordAgent: State set to IDLE(2)
INFO:Initializing Sensory library | library name: TrulyHandsfree | library version: 5.0.0-avs.4 | model file: ../ext/resources/spot-alexa-rpi.snsr
WARNING:Library expires on: License expires on 28 Jul 2017 00:00:00 GMT
INFO:SensoryWakeWord

[2017-04-15 14:08] vatsal2210 commented on #669
Hey @dskidmor,

Here is the log which "alexa" is not responding.

pi@pi:~/alexa-avs-sample-app/samples/wakeWordAgent/src $ ./wakeWordAgent -e sensory
INFO:main: Starting Wake Word Agent
INFO:WakeWordAgent: State set to IDLE(2)
INFO:Initializing Sensory library | library name: TrulyHandsfree | library version: 5.0.0-avs.4 | model file: ../ext/resources/spot-alexa-rpi.snsr
WARNING:Library expires on

[2017-04-15 14:09] vatsal2210 commented on #660
INFO:main: Starting Wake Word Agent
INFO:WakeWordAgent: State set to IDLE(2)
INFO:Initializing Sensory library | library name: TrulyHandsfree | library version: 5.0.0-avs.4 | model file: ../ext/resources/spot-alexa-rpi.snsr
WARNING:Library expires on: License expires on 28 Jul 2017 00:00:00 GMT
INFO:SensoryWakeWordEngine: mainLoop thread started
INFO:WakeWordIPCSocket::mainLoop thread started
INFO

[2017-04-15 16:46] javaand opened #686 "couldnt login to register/ authenticate my device"
Hi,
I do everything mentioned in the step by step and everything goes well (For raspberry Pi). but when I executed mvn exec:exec I get a pop up and try to login to register/authenticate my device. After trying to open the url shown in the pop-up message I get unsecure warning and when I click on advanced button and choose process to localhost (unsafe) the connection is reset and no way to process.

[2017-04-15 18:05] 123anvar opened #687 "raspberry pi zero w KittAiSnowboyWakeWordEngine start failed"
I am using raspberry pi zero W and an external usb sound card (http://www.amazon.in/Storite-Adapter-Virtual-5-1-Channel/dp/B01KQ1378Y?tag=googinhydr18418-21&tag=googinkenshoo-21&ascsubtag=739dbd02-9062-4ef8-bf51-c139a3863d2d)

Alexa is working fine with the Java UI button click . But I got below error while triying to use the wakeword agent 'snowboy' (as sensory is not working and heard that it dn

[2017-04-15 18:09] 123anvar opened #688 "Wakeword agent GPIO pins for connection"
Can somebody help out on the GPIO connection for using external physical switch for Alexa.
The connection details are not there in the readme , please update it with the pin numbers and a schematic diagram if possible.

[2017-04-15 18:24] 123anvar commented on #687
I have disabled the default audio device by commenting out
#dtparam=audio=on
in /boot/config.txt

Below is the content of /home/pi/.asoundrc and /etc/asound.conf files which I have configured for using the USB sound card.
pcm.!default {
type asym
playback.pcm {
type plug
slave.pcm "hw:1,0"
}
capture.pcm {
type plug
slave.pcm "hw:1,0"
}

Below is the output of aplay -l and arecord -l commands :

pi

[2017-04-15 18:28] 123anvar commented on #686
Can you give the exact error message or screen shot ? @javaand

[2017-04-15 18:33] Partha2k commented on #685
![screenshot 45](https://cloud.githubusercontent.com/assets/25670426/25066012/ee872c52-2237-11e7-98d5-9d41a75fd049.png)

@dskidmor I am getting this error when starting up the kitt_ai.

[2017-04-15 19:59] javaand commented on #686
That's what I get:
![r1](https://cloud.githubusercontent.com/assets/26523454/25066470/fdf4e246-222e-11e7-9c85-ae426a6cc102.png)
![r2](https://cloud.githubusercontent.com/assets/26523454/25066471/04966cc8-222f-11e7-9129-2bf79ee925c4.png)
![r3](https://cloud.githubusercontent.com/assets/26523454/25066473/07d0d572-222f-11e7-8805-d0a3612c1e87.png)
![r4](https://cloud.githubusercontent.com/assets/26523

[2017-04-16 05:39] sginsbe commented on #687
I'm having this same issue on a Raspberry Pi 3 with a USB mic. Sensory works fine but Kitt.ai continually fails to open the PortAudio stream and says the device is unavailable.

[2017-04-16 05:54] Kinjalk commented on #641
@psycomatis Did you solve your issue ? If not check [#203](https://github.com/alexa-pi/AlexaPi/issues/203#issuecomment-294254644)

[2017-04-16 07:59] SasankYadati opened #689 "little-endian not supported"
I am using raspberry pi. After I run `mvn exec:exec` , I receive the device tokens ready message and when I click on listen, I get the following error dialog.

Thank you.

[2017-04-16 08:27] 123anvar commented on #686
Can you try loading the https://local host:3000/****
That entire link from any of your other Device on same network with localhost replaced by ip of raspberry pi ??

Like : https://192.168.1.8:3000/****/***

**** Is the rest of link

[2017-04-16 11:09] javaand commented on #686
Hi @123anvar
first thank you for your answers, I tried what you suggest. for the first time I am forwarded to page of signing into amazon account and I was so happy :) but unfortunately after signing I got the same result.
I want to tell you that I pulled the windows version of the sample app. I got the same result and after using proxy of my school I succeeded in signing and registering and I do

[2017-04-16 11:19] 123anvar commented on #686
oh may be the proxy is causing the issue.
Are you able to load a website in raspberry pi ?? or it also gives you "site can't be reached" error ?? if so u need to configure your school's proxy in raspberry pi too.(https://raspberrypi.stackexchange.com/questions/59292/chromium-browser-proxy-settings)

[2017-04-16 11:26] destroy-everything commented on #222
Can you document where these setting are stored?

[2017-04-16 16:45] 123anvar commented on #689
disable the default audio device by commenting out
#dtparam=audio=on
in /boot/config.txt

Take back up of following files if they exists or Create new if doesn't exists
/home/pi/.asoundrc and /etc/asound.conf
with below content for using the **USB sound card for both speaker and mic**.

pcm.!default { type asym playback.pcm { type plug slave.pcm "plughw:1,0" format S16_LE } capture.pcm { type plug

[2017-04-16 20:59] Steakschen commented on #685
got this error too

Failed to open portaudio stream

[2017-04-17 02:26] 444ghost opened #690 "building guide for AVS Android app? (NOT Android Companion app)"
Hello, I'm new to the whole AWS, AVS, and ASK things.

Straight to the point, as you might have guessed from the title of this issue, I want to build an Alexa-enabled Android app that self-authorizes. "alexa-avs-sample-app" guides readers to use their local server as a "developer server" to interact with Alexa and an companion of their choice to authorize. I also ran through this sample app and it

[2017-04-17 07:44] khalil-rashow commented on #686
hi @123anvar
Thank you for your answer. As you said it was proxy problem. But I got another error when running mvn exec:exec
[9852:9909:0417/070927.175574:ERROR:cert_verify_proc_nss.cc(942)] CERT_PKIXVerifyCert for localhost failed err=-8179
and after opening the url in the browser and clicking on listen button I get this error:

[1:1:0417/070926.314685:ERROR:nacl_fork_delegate_linux.cc(315)] Bad

[2017-04-17 08:08] howardguo commented on #678
any one can follow this issue?

[2017-04-17 08:34] RogerZheng opened #691 "ERROR com.amazon.alexa.avs.AVSAudioPlayer - An error occurred while trying to play audio"
When playing music in device ,I issue wake command and ask some question.The device could get into trouble and have no sound somehow i do。The error log is like this：

08:27:40.651 [Thread-2413] ERROR com.amazon.alexa.avs.AVSAudioPlayer - An error occurred while trying to play audio
javazoom.jl.decoder.JavaLayerException: cannot obtain source audio line
        at javazoom.jl.player.JavaSoundAudioD

[2017-04-17 09:21] khalil-rashow opened #692 "Chain Validation Failed"
Hi everyone,

I get this error when using androidcompanionapp
Error
Chain validation error.
Java client is working by typing command mvn exec:exec
and asndroid app working and launching an activity which ask me to type address to connect and when I enter the following address https://10.0.2.2:8443 I get this error msj.

Thanks in advance

[2017-04-17 09:24] khalil-rashow commented on #692
In the console of java client when typing mvn exec:exec it writes to the console this sentence:

QT: Untested Windows 10.0 version is detected

[2017-04-17 09:29] khalil-rashow commented on #692
I just change avd to nexus which uses api 22 and it is work fine

[2017-04-17 09:29] #692 closed

[2017-04-17 10:05] jtlkm opened #693 "request code:400"
Hi
The documentation is described below：
Maintaining a connection with AVS requires two things:
1、Establishing the downchannel stream
2、Synchronizing your product’s component states with AVS (AudioPlayer, Alerts, Speaker, SpeechSynthesizer)
The first step in the implementation of success, when I perform the second step, it is wrong。
request：
--abcde123
Content-Disposition: form-data; name="metadat

[2017-04-17 10:48] 123anvar commented on #686
@khalil-rashow #53 is something similar.

[2017-04-17 12:17] storyweaver opened #694 "change ProductID, ClientID and ClientSecret without total reinstall?"
I got the avs running on raspberry pi, and now I want to register the device to another AMAZON developer account, using new ProductID, ClientID and ClientSecret from the new account.

The reason is that a fresh install of the whole package is truly a painful process, I wish to avoid that.

I changed the config.js with the new ProductID, ClientID and ClientSecret in companionservice folder, but fai

[2017-04-17 12:36] khalil-rashow commented on #686
Thank you so much @123anvar
it works for me well.

[2017-04-17 12:55] khalil-rashow opened #695 "How to configure AVS with ASK"
Hi everybody,

I tested avs sample app successfully on my device and in the same time I defined some custom alexa skills.  My sample avs app couldnt invoke my skills defined in the same developer account. How to configure my AVS with my ASK? @123anvar

Thanks in advance.

[2017-04-17 14:22] #695 closed

[2017-04-17 19:47] scotthea-amazon commented on #670
Hello jtlkm,

Please provide logs showing the AVS reply, including the x-amzn-requestid in the header from the successful connection, and any other responses before the disconnection.  It will be most helpful if the logs are from the last few days so that server side logs are still available.

Thanks,
-SWH

[2017-04-17 19:56] scotthea-amazon commented on #671
Hello Roger,

Probably the first place to start is to describe in detail what you are doing and what results you are experiencing.  Usually the next step is to capture inspect logs from the session where the problem is occurring.

Thanks,
-SWH

[2017-04-17 21:24] scotthea-amazon commented on #668
Hello Roger,

It looks like the problem is probably that your local certificates are out of date or otherwise incorrect.  you might try:
    sudo apt-get update && sudo apt-get upgrade
...which is a rather broad-brush update - or try something more targeted.

Hope that helps,
-SWH

[2017-04-17 23:09] scotthea-amazon commented on #676
Hello jacky-ge,
Would you please be a bit more specific.  What exactly do you mean by "log on to a new account"?  Have you tried uttering "Alexa, switch to <some other account name>"?
Thanks,
-SWH

[2017-04-17 23:33] scotthea-amazon commented on #633
Hello jtlkm,

This last message appears to be a duplicate of the issue: https://github.com/alexa/alexa-avs-sample-app/issues/670.  Please do not duplicate you posts - it makes it more difficult to help people.

As stated in the other ticket:

Please provide logs showing the AVS reply, including the x-amzn-requestid in the header from the successful connection, and any other responses before the di

[2017-04-18 02:04] sginsbe commented on #685
I have the same error, sensory WakeWordAgent works fine but kitt.ai will not start.

[2017-04-18 04:42] djacobos commented on #566
I am having the same issue as hpsaturn. I did verify the ALPN version in my POM.XML file and I am entering https://10.0.2.2:8443 in my Android Emulator(Nexus 6) which is being ran from Android Studio

[2017-04-18 07:23] 444ghost commented on #690
Found someone who did the exact work I was looking for at "https://github.com/willblaschko/AlexaAndroid". Hope you find it helpful.

[2017-04-18 09:38] Petr2 opened #696 "clean install to rpi jessie can't find wiringpi.h"
I see there is an outstanding pull request from December, #438, that has not been done that would, presumably, fix this.

[2017-04-18 11:03] Petr2 opened #697 "Node.js debugging ENOENT 34"
error code: ENOENT
error number: 34

There is no more information. Anyone have any ideas?
P

[2017-04-18 16:01] scotthea-amazon commented on #697
Hello Petr2,
We need more context (preferably steps to reproduce the problem) to be able to help you with this.
-SWH
ithout some context or steps to reproduce this error there

[2017-04-18 16:12] scotthea-amazon commented on #531
This is a duplicate of #438.   That issue will be closed when the pull request is included in a release.  Closing this issue.

[2017-04-18 16:12] #531 closed

[2017-04-18 16:13] scotthea-amazon commented on #696
This is a duplicate of #438.   That issue will be closed when the pull request is included in a release.  Closing this issue.

[2017-04-18 16:13] #696 closed

[2017-04-18 16:24] scotthea-amazon commented on #678
Hello howardguo,
I do not see any obvious errors in the JSON of the SpeechRecognizer.Recognize event you are sending, and the directive you are receiving is just telling you to stop streaming more audio for that event.  See:
     https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/reference/speechrecognizer#stopcapture
-SWH

[2017-04-18 16:30] scotthea-amazon commented on #690
Hello 444ghost,
Sorry, but at the moment Amazon does not have an example Android AVS client.
-SWH

[2017-04-18 16:49] Petr2 commented on #697
I am not having much joy here.  Previous comment re no wiringpi.h - I hand edited the script as the pull request suggested then re run it.  That seemed to be ok.  Other than that, it was a new install of jessie-lite on a pi zero, I had set up a usb mic and speaker as default (chose 3.5 mm jack as there is no usb option thinking I could fix it later)  I had installed orace-java-8 (which was uninsta

[2017-04-18 17:16] erikhopf-amzn commented on #621
@Kinjalk would you be interested in turning your guide into a Gist that we can link to?

[2017-04-18 19:17] scotthea-amazon commented on #685
Hello,
It looks like you may not have not configured the recording device in ALSA correctly.  Would you please post the ALSA configuration you are using (it should be in ~/.asoundrc), and the output from running the command: "arecord -l".
-SWH

[2017-04-18 19:37] codercreatordude opened #698 "[ERROR] npm start"
Here is the log output I got, any suggestions?:

This node service needs to be running to store token information memory and vend them for the AVS app.

module.js:337
    throw new Error("Cannot find module '" + request + "'");
          ^
Error: Cannot find module 'express'
    at Function._resolveFilename (module.js:337:11)
    at Function._load (module.js:279:25)
    at Module.require (module.j

[2017-04-18 20:35] scotthea-amazon commented on #698
Hello codercreatordude,
It looks like the "express" package was not installed - or at least that companionService was not able to find it.  A couple of things you might try:
- Upload the contents of /media/ALEXABERRY/alexa-avs-sample-app/samples/companionService/npm-debug.log to this issue.
- Change the current directory to /media/ALEXABERRY/alexa-avs-sample-app/samples/companionService and run "n

[2017-04-18 20:38] javaand opened #699 "Android App to adding Alexa Voice Service to your mobile"
Hi Guys,

I have just test your alexa sample app using both android and nodejs authentication method. I would like if there is an android app that is responsible to login with amazon and interact with alexa in the same time (without companion app).

Thanks in advance.

[2017-04-18 22:40] rbird85 opened #700 "HTTP error 500 Problem accessing /provision/companionInfo"
I am running Android companion app on my Windows 10(64 bit) laptop. I ve followed all the prior steps.
At the Sign in screen, when I click on Continue I am getting a HTTP 500 error(refer screens below)
Has anyone faced this issue? Please help.

![capture2](https://cloud.githubusercontent.com/assets/16409369/25155940/523d6a64-245d-11e7-86f3-647464c72461.JPG)
![capture1](https://cloud.githubusercont

[2017-04-19 00:51] scotthea-amazon commented on #697
Hello Petr2,
The screen shot helps a lot!  ENOENT means a file or directory was not found. "npm start" is looking for package.json in the current directory ( alexa-avs-sample-app ), where it does not normally exist.
I expect you are running the steps found here:

    https://github.com/alexa/alexa-avs-sample-app/wiki/Raspberry-Pi

And that you are revisiting step 7.  Note that in that step you nee

[2017-04-19 01:26] scotthea-amazon commented on #674
Hello axinitza,
The URL that your client connects to is specified by your client.  For example, in the Java sample app it can be found in:

    /samples/javaclient/src/main/java/com/amazon/alexa/avs/config/DeviceConfig.java

...or it can be overriden at the point where the DeviceConfig object is instantiated.
-SWH

[2017-04-19 01:28] scotthea-amazon commented on #674
Also, if you are interested in internationalization, you may want to look at this:
    https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/reference/preparing-for-internationalization

[2017-04-19 03:07] scotthea-amazon commented on #693
Hello jtlkm,
I was able to track down the error as reported on the server.  The server did not like the format of your alert token "foo-bar".
Hope that helps,
-SWH

[2017-04-19 03:56] #700 closed

[2017-04-19 05:43] zomzom96 commented on #630
Hello,

I've managed to track down the cause of the service not working, to be that I'm missing the dependencies that are listed in the automated.sh (e.g. pa_ringbuffer.h ....etc.) I looked at this fix here and I can see that @KilrBe3 Solved through going to the directory under ...C++/portaudio/src/common. However, this directory didn't exist because there was a problem when install port audio scr

[2017-04-19 11:46] #678 closed

[2017-04-19 13:35] Petr2 commented on #697
And I thought I was being very careful!  cd to the right directory was the solution for EOENT 34 message.

[2017-04-19 13:35] #697 closed

[2017-04-19 13:56] Petr2 opened #701 "Headless?"
I was hoping to run this headless on a pi zero  (jessie lite) but now have the message:
No X11 DISPLAY variable was set.  This seems to be built in to the java avs code.  Does this mean my hopes have been dashed?   It seems I should be able to do that in a browser on a different machine and then, without the windowing environment, confirm I've done it.
If this is not possible at the moment, could

[2017-04-19 13:59] Partha2k commented on #685
@scotthea-amazon yeah I actually selecting the boards default sound card. After choosing the usb sound card it worked fine.

[2017-04-19 15:17] ejbray123 commented on #572
Having the same issue - running a Raspberry Pi 3 with Raspbian (NOOBS).

[2017-04-19 15:26] Kinjalk commented on #701
@Petr2 Hi. I have made some changes to javaclient and its working headless now. Starts on boot as well. Tested for 20 days and its working great.
[#203](https://github.com/alexa-pi/AlexaPi/issues/203#issuecomment-294254644)
Let me know if this works for you.

[2017-04-19 15:29] Kinjalk commented on #621
@erikhopf-amzn
Sure i will. Should I add everything as it is or do you have any suggestions ? Let me know.

[2017-04-19 16:34] scotthea-amazon commented on #688
Hello 123anvar,

The doc for connecting the Conexant2Mic to a Raspberry PI for use with AVS mentions GPIO (barely, just as a command line argument, in step 8).

Following the thread to the Conexant docs here:

    http://www.conexant.com/amazon-avs/

I found links to several documents that might be helpful:

    http://www.conexant.com/avs-support/DS20921_UserGuide.pdf
    http://www.conexant.com/

[2017-04-19 20:29] scotthea-amazon commented on #694
Hello storyweave,
Can you be a bit more specific about the steps you have taken and where the failure occurs?
Console output and/or a screen grab at the point of failure may be helpful.
-SWH

[2017-04-19 20:33] scotthea-amazon commented on #691
Hello RogerZheng,
This sounds like it may be some kind of configuration issue.  Can you provide more details, like what platform you are working on and what steps you are working through?  Also, are there any special steps you need to perform to trigger this error?
-SWH

[2017-04-19 20:56] JamesZEMOURI opened #702 "javaclient runnig into a exeption after login in amazon"
running mvn exec:exec

![image](https://cloud.githubusercontent.com/assets/18288140/25201809/62b6bc14-2553-11e7-97eb-6c2b52865896.png)

running sudo mvn exec:exec
![image](https://cloud.githubusercontent.com/assets/18288140/25201967/e4295270-2553-11e7-9eac-df00e7a1b069.png)

[2017-04-20 04:20] jtlkm commented on #693
Hello @scotthea-amazon
I tried, but the problem still exists！
I refer to libevent-client.c , The main code for sending the request command is as follows：
................
nghttp2_data_provider   data_prd;
nghttp2_nv hdrs[] = {
      MAKE_NV2(":method", "POST"),
      MAKE_NV2(":scheme","https"),
      MAKE_NV2(":path","/v20160207/events"),
      MAKE_NV2("authorization","Bearer Atza|IwEBIFLOzi2zWu

[2017-04-20 05:04] satishc4u commented on #677
Than you for the reply.
Issue is resolved after adding the following line in AVSApp.java main function.
System.setProperty("jna.nosys", "true");

Please clarity the following questions,

1). Can we integrate Alexa in Real Time Operating system(RTOS) like FreeRTOS devices which has low footprint (memory and speed wise)?
2). As per my understanding we can show Alexa directives on screen/display inst

[2017-04-20 15:02] Steakschen commented on #685
How can i change to the other soundcard?

[2017-04-20 15:44] scotthea-amazon commented on #699
Hello javaand,
Unfortunately at this time Amazon does not have an Android example client for AVS.
It has been filed a couple of times in the [feature request forum]( https://forums.developer.amazon.com/spaces/185/index.html.) with some follow on discussion that you might find interesting
-SWH

[2017-04-20 17:10] RobertGuy09 opened #703 "little-endian not supported with GPIO I2S mem-mic"
I tried to set up Alexa with a GPIO i2s mic. The mic works by itself when using arecord on the pi. However, when running with AVS, i get an error say "line with format PCM_SIGNED 16000.0 Hz, 16 bit, mono, 2 bytes/frame, little-endian not supported." I've looked at other issues but none of them were using GPIO i2s mic.
![2017-04-20-170708_1680x1050_scrot](https://cloud.githubusercontent.com/assets/

[2017-04-20 17:19] 123anvar commented on #688
Thanks @scotthea-amazon will check it 👍

[2017-04-20 17:55] civanescu opened #704 "npm start not working"
After following the procedure and runned the install script at start I have an error.
I find somewhere in the forum that they modified the script, reset npm cache, npm install. None worked for me!

`root@DietPi:~/alexa-avs-sample-app/samples/companionService# npm start

This node service needs to be running to store token information memory and vend them for the AVS app.
/root/alexa-avs-sample-app

[2017-04-21 01:42] sginsbe commented on #685
This is what I get as the output of arecord-l

`**** List of CAPTURE Hardware Devices ****
card 1: Device [USB PnP Sound Device], device 0: USB Audio [USB Audio]
  Subdevices: 0/1
  Subdevice #0: subdevice #0
`
It seems like the USB soundcard is selected, unless I'm misunderstanding this?

[2017-04-21 06:37] mandar003 commented on #114
Hello
Following steps worked for me
1) go to folder alexa-avs-sample-app/samples/javaclient
2) Run  mvn clean
3) mvn install

[2017-04-21 09:34] Knightcard opened #705 "Problem with the wakeWordAgent -e kitt_ai"
Hi need help with this.

First all the equipment list

Raspberry PI3
Speaker though 3.5 jack
Yeti stereo Microphone USB
Both Micro SD cards have fresh download software

Now this all works great on SENSORY but I want to use Kitt AI because i want to use my own Hot word.

Run Kitt Ai I have a micro SD card programmed for Alexa and  other Mirco SD card programmed with my hot word and I great the sam

[2017-04-21 09:57] hrishi-git commented on #704
I did the following things to resolve this
Type:
`npm ls`

This gave me the following output

pi@raspi:~/Desktop/alexa-avs-sample-app/samples/companionService $ npm ls alexa-voice-service-sample-companion-service@1.0.0 /home/pi/Desktop/alexa-avs-sample-app/samples/companionService ├── UNMET DEPENDENCY body-parser@~1.12.4
├─┬ debug@2.2.0 │
     └── ms@0.7.1
├── UNMET DEPENDENCY express@~4.12.4
└──

[2017-04-21 13:10] Petr2 commented on #701
Thanks for the pointer but it seems the code is moved on.  No more
AVSApp.java in the Amazon source ...
I will take another look in a month or so and perhaps the dust will have
settled.

P

On 19 April 2017 at 16:26, Kumar Kinjalk <notifications@github.com> wrote:

[2017-04-21 16:59] scotthea-amazon commented on #702
Hello JamesZEMOURI,

In our first screen grab I see the error "The required file config.json could not be updated".   You might want to check that the file is there and that the permissions are open enough to allow the application to write to it.  This file should be under:
[code]

In the second screen grab I see errors from sun.awt.x11graphicsenvironment.initdisplay.  With some googling I came to

[2017-04-21 18:09] scotthea-amazon commented on #693
Hello jtlkm,
I can not really determine how the server handled your request without the x-amzn-requestid value from the 400 reply that AVS sent.  However, looking at the text you provided, the "abcd" token in the "allAlerts" array looks like token invented on the client, rather than one provided by AVS via a SetAlert directive.  The server is likely rejecting the request because it does not recogn

[2017-04-21 18:26] scotthea-amazon commented on #677
Hello satishc4u,
Good questions!
1) Yes, it is possible.  Some developers have done this.
2) You could somehow render the directives to a display of some kind - but the currently available API is really focused around a voice based interface.
3) There are a lot of trade-offs in that decision - things like the constraints of target device, development effort, available expertise and timeline etc.

[2017-04-21 23:34] mohaggag commented on #621
Is there a tutorial on how to use it with nodemcu , or mqtt

[2017-04-21 23:46] scotthea-amazon commented on #701
Hello  Petr2,
If you're interested having this added to the sample app, you can also create a request for it in our Feature Request space within the forums: https://forums.developer.amazon.com/spaces/185/index.html.
Thanks!
-SWH

[2017-04-22 02:35] krisnaw commented on #532
Hi
Any solution for this? I've the exact same issue

[2017-04-22 13:35] krisnaw commented on #225
Any solution for this? I have got the same exact error

[2017-04-22 14:40] xaos11 commented on #621
@mohaggag There is a firmware called ESPurna (that runs on the nodemcu), that has the fauxmo wemo emulator library that allows Alexa to discover the devices (which also gives mqtt control and http control). I have an echo dot though, which I'm pretty sure is what my Alexa prototype uses to control the devices. I'm not entirely sure if it will work with just the prototype. However, you can also use

[2017-04-22 21:48] #702 closed

[2017-04-22 21:48] JamesZEMOURI commented on #702
Thx :D

[2017-04-22 22:36] amolpagar commented on #262
As David mentioned below steps worked fine

"No it's only running the alexapi app, take a look in the alexapi setup.sh
It uses init.d to run the S99alexa script, I think in rc5

If you go to that folder there are very clear instructions on how to get the system to remove it from the statup process. I don't have a Pi with me (I am travelling) - I will be back at the weekend and will look then.

But

[2017-04-22 22:49] amolpagar commented on #262
after digging more into this, looks like script, scanbd folders are not present in init.d directory.
basically this directory contains services which gets executed during boot I believe, there are ways to stop or disable these services
http://www.stuffaboutcode.com/2012/06/raspberry-pi-run-program-at-start-up.html

finally my command was
sudo update-rc.d alexa

hope it helps someone out there

[2017-04-23 01:52] krisnaw commented on #522
Hi @yugoren I have got the same exact error. And getting Fail result when running the second command
`mvn -U -X install`

[2017-04-23 02:19] krisnaw commented on #541
Hi @elstryan I have got this error when trying to run npm install
`npm WARN package.json node-storage@0.0.7 No repository field.
npm ERR! Failed to parse json
npm ERR! Unexpected token �
npm ERR! File: /home/pi/.npm/serve-static/1.9.3/package/package.json
npm ERR! Failed to parse package.json data.
npm ERR! package.json must be actual JSON, not just JavaScript.
npm ERR!
npm ERR! This is not a bug

[2017-04-23 02:26] D3rpi commented on #94
Can we please reopen this?
I trying to achieve the same thing here. I use a bluetooth speaker in my set up which works fine for tunein, iheart and flash briefings but the beeps(from the java app) and some Alexa repsones still go to my 3.5mm jack. How do I route all the audio to bluetooth?

[2017-04-23 07:59] Knightcard commented on #644
closed since new release has new isssues

[2017-04-23 14:54] mowoe opened #706 "skills in german dont work for me"
i switched the locale to de, but the skills dont work. Alexa says that the languauges aren't the same. In the app i see the german skill store(i know the app is broken for the pi), in the web interface i see the us skill store( the web site is on german but the skills are english), any way to fix that?
![ss](https://cloud.githubusercontent.com/assets/12197109/25314501/78cf2bcc-2845-11e7-8e9c-edfb7

[2017-04-23 17:04] 123anvar commented on #687
Worked after :
1. disabling the default audio device by commenting out
**#dtparam=audio=on**
in /boot/config.txt
2.Changing content of /home/pi/.asoundrc  to below :
**pcm.!default { type plug slave { pcm "plughw:1,0" } } ctl.!default { type hw card 1 }**

3.Then installed alexa once more with this settings after a reboot after changing above settings.

Now I have KittiAi snowboy for wakeword dete

[2017-04-23 17:04] #687 closed

[2017-04-23 21:44] TeamKalis commented on #101
Still having this issue. Both on normal laptop and RASP PI. All of them are My_device. Help!

[2017-04-23 21:45] TeamKalis commented on #5
Still having this issue as of 4/17/23  I need help.

[2017-04-23 21:46] TeamKalis commented on #545
This never helped me. I'll rerun automated. I'm on the verge of giving up on this project.

[2017-04-24 04:01] tomesdw opened #707 "Windows installation, step six failure"
I have run through the steps found here - https://github.com/alexa/alexa-avs-sample-app/wiki/Windows#6---run-the-sample-app

And all went well until I got to step 6 and ran the mvn install, and got some compilation errors and a build failure.  I am not sure what I did wrong or even how to troubleshoot this.  I verified each step as I went and was meticulous.  This is my first real venture with Git

[2017-04-24 05:11] robododge commented on #5
**SOLVED**. As with everyone else, I ran into this problem after completing the full setup and build.  I just solved this locally with my raspberry pi sample app.  And, NO, you do not have to name your device "my_device".

1. I found a typo in my device name:  PI3 locally, but on AWS security profile, Device Type ID = Pi3.  Made sure the Device: field in the top left of your java client matches th

[2017-04-24 16:34] rebla opened #708 "Connection to IFTTT"
I've logged in IFTTT using the same amazon account I used to register my alexa device. Each time I tried to use IFTTT alexa answers 'I can't see that ifttt trigger'

Does anyone has the same issue?
Thx

[2017-04-24 18:43] lbarry96 opened #709 "Problem With Building Alexa Voice Service Sample Java Client"
This is what happens after running this command does anyone know of any ways to fix this issue?

pi@raspberrypi:~/Desktop/alexa-avs-sample-app/samples $ cd javaclient && mvn exec:exec
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Alexa Voice Service Sample Java Client 20160207.3
[INFO] ------------------------

[2017-04-24 20:26] JSONMartin commented on #94
I'd like to do this too, so please reopen :)

[2017-04-24 22:11] D3rpi commented on #94
@ajot Can this be re-opened?
Thanks

[2017-04-24 22:48] stevbenn commented on #709
Could you include a full stack trace with `-e` and `-X` flag?
[code]

[2017-04-24 22:54] stevbenn commented on #708
Since you can have interaction with Alexa over the sample app, this seems to be an issue due to IFTTT. Have you tried linking your Alexa device to IFTTT on the IFTTT website?  If so, can you share more details on what you are trying to trigger?

[2017-04-24 23:30] stevbenn commented on #225
@smachaje: It seems like your issue is due to `interactive-adventure-game-tool` which is not related to Alexa Sample App.  Could you try
[code]
to update your `npm` packages.

@krisnaw: Could you include an output of your terminal so we can understand your issue better?

[2017-04-25 01:07] Imrenderman opened #711 "Sample app not working"
ever I enter the command in the second terminal (`cd ~/Desktop/alexa-avs-sample-app/samples` and `cd javaclient && mvn exec:exec`) I get this long error:

constituent[0]: file:/usr/share/maven/lib/plexus-sec-dispatcher.jar
constituent[1]: file:/usr/share/maven/lib/commons-httpclient.jar
constituent[2]: file:/usr/share/maven/lib/sisu-inject-plexus.jar
constituent[3]: file:/usr/share/maven/lib/maven

[2017-04-25 06:37] SAMcMahon opened #712 "ome"

[2017-04-25 07:03] khalil-rashow opened #713 "Running NodeJS on another pc"
Hi everybody,

I have installed alexa sample app over my raspberry. when running nodejs it uses cpu 100%. Is there any way to run nodejs companion app in other pc and let java client work on my raspberry Pi?

Thanks in advance.

[2017-04-25 07:30] tr1plus commented on #701
Latest version allows for a complete headless usage. You only need to start it once via VNC and the other thing you need to do is create a few scripts. I made a small blog post on it. All you need is to install tmux and create a script to launch on boot:
http://www.triplustutorials.be/2017/04/24/provide-usb-sound-output-for-alexa-voice-services-useful-for-the-raspberry-pi-zero/

[2017-04-25 12:28] satishc4u commented on #677
Hi Scotthea,

Thanks for the explanation. Sorry for the late reply.

1).Does it good idea to integrate AVS sample app in RTOS customized devices  ?
2).Could you help me what are best market areas to integrate Alexa Voice service to integrate ?

[2017-04-25 14:44] lbarry96 commented on #709
This is what I got from doing that command

pi@raspberrypi:~/Desktop/alexa-avs-sample-app/samples $ cd javaclient && mvn -eX exec:exec
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Alexa Voice Service Sample Java Client 20160207.3
[INFO] ---------------------------------

[2017-04-25 15:03] #712 closed

[2017-04-25 15:26] yugoren commented on #711
Hi @Imrenderman,

Could you run
[code]
and paste the output here between triple ticks like so?
\`\`\`
\< Paste your output here \>
\`\`\`

[2017-04-25 15:33] yugoren commented on #713
Hi @khalil-rashow,

Unfortunately, the `nodejs` server needs to run at the device for the moment since the authorization process needs a token on the device itself. That being said, we have not come across `nodejs` eating up CPU like this before. Could you verify that it is in fact `nodejs` and not one of the wake word engines? One way to do that is
[code]
which should report the momentary CPU/Mem

[2017-04-25 15:47] yugoren commented on #705
Hi @Knightcard,

Interesting question! By the error reports you attached, it seems like there's something wrong with the ALSA libraries on the Raspbian. Could you check/confirm that the app works without wake word detection on the same system? If not, the next step would be to check your sound setup: you can try recording a sample (e.g. 3 seconds below) on the command line using `arecord` and play

[2017-04-25 15:55] yugoren commented on #707
Hi @tomesdw,

It seems like your system is missing a Java compiler (2nd red error line in the image). Could you double-check if you have it?

[2017-04-25 16:24] acquiahenk opened #714 "."

[2017-04-25 16:37] Partha2k commented on #685
@Steakschen open alsamixer(alsamixer) select the sound card which is inserted into USB then on another terminal window type in alsactl(sudo alsactl store 1) to save the current changes. To test the mic open the arecord test file (arecord -D plughw:1 --duration=10 -f cd -vv ~/rectest.wav) it will record 10 secs of audio. For playback of the recorded audio type in (aplay ~/rectest.wav) [~/: this may

[2017-04-25 16:39] Steakschen commented on #685
@Partha2k Thank you i will try

[2017-04-25 17:34] stevbenn commented on #714
@acquiahenk: I don't see any information here. Was this issue opened in error?

[2017-04-25 18:20] erikhopf-amzn commented on #621
@Kinjalk Go ahead and set it up as is. Then we can collaborate on edits :). Thanks again for making this community GREAT!

[2017-04-25 19:49] Imrenderman commented on #711
[code]
looks like the same error to me

[2017-04-25 19:49] stevbenn commented on #709
@lbarry96: my mistake with the command ordering.  Can you provide the debug output by moving the `-X` as follows:
[code]

Also, can you confirm for me that the `automated_install.sh` script execution was successful?  Were there any error messsages thrown in that prerequisite step?  Thanks!

[2017-04-25 19:54] Imrenderman commented on #711
Also I did update the bluetooth firmware for the Pi 3 before this happened if you think that might have caused it, I also installed the blueman bluetooth GUI from this guide [https://www.pi-supply.com/make/fix-raspberry-pi-3-bluetooth-issues/](url)

[2017-04-25 20:17] yugoren commented on #711
@Imrenderman: I'm not sure if the Bluetooth update caused it. It seems like it is a dependency issue (`NoClassDefFoundError`). Could you try running `mvn dependency:tree` to see if it fixes it? Feel free to paste its output if it doesn't.

[2017-04-25 20:31] Imrenderman commented on #711
`---------------------------------------------------
constituent[0]: file:/usr/share/maven/lib/plexus-sec-dispatcher.jar
constituent[1]: file:/usr/share/maven/lib/commons-httpclient.jar
constituent[2]: file:/usr/share/maven/lib/sisu-inject-plexus.jar
constituent[3]: file:/usr/share/maven/lib/maven-embedder-3.x.jar
constituent[4]: file:/usr/share/maven/lib/maven-repository-metadata-3.x.jar
constitu

[2017-04-25 20:34] Imrenderman commented on #711
I also just tried `mvn dependency:tree -Dverbose` and it came up with that error, do you think its something wrong with Maven?

[2017-04-25 21:15] Imrenderman commented on #711
I looked in the directory that it stated in the error (`/usr/share/maven/lib/`) and this is what I found:
![2017-04-25-171027_1600x900_scrot](https://cloud.githubusercontent.com/assets/27037378/25407985/6e5e6932-29da-11e7-9ce5-601fb3057afd.png)

[2017-04-25 22:15] #714 closed

[2017-04-25 23:01] Imrenderman commented on #711
Ok, I have completely reinstalled raspbian jessie and it is now working, thanks!

[2017-04-25 23:01] #711 closed

[2017-04-26 00:57] khalil-rashow commented on #713
Thank you so much @yugoren ,
you are right but my raspberry is too old ( its model is pi not pi 2 or pi3 as it is required for the sample app).
As I understood the nodejs companion app is only for the authorization process and as well as it does its work there will be no need to stay working. so is it correct to turn it off as soon as it does its work and continue with our Gui getting by mvn exec:

[2017-04-26 01:18] Knightcard commented on #705
Hi yugoren

   Yes the microphone works it works with the other disk I have with the old software.
Yes I read those other posts nothing deals with the fact if you  ask for flash new it read some and stops  and goes idle then starts again does this about 5 times though flash news.
you can see in this error
INFO:WakeWordAgent: State set to WAKE_WORD_PAUSE_REQUESTED(5)
INFO:KittAiSnowboyWakeWordEngin

[2017-04-26 12:07] falent opened #715 "Wake word trigger"
Hi, where can I change a wake word trigger in Sensory or KITT.AI?? Is it possible to trigger alexa and open a skill by python code? For example: is it possible to start alexa openning a skill if RP2 detect montion by HC-SR501 PIR Motion Sensor?

[2017-04-26 16:57] lbarry96 commented on #709
This is what I got when I ran that command

pi@raspberrypi:~/Desktop/alexa-avs-sample-app/samples/javaclient $ mvn exec:exec -X
Apache Maven 3.0.5
Maven home: /usr/share/maven
Java version: 1.8.0_131, vendor: Oracle Corporation
Java home: /opt/jdk1.8.0_131/jre
Default locale: en_GB, platform encoding: UTF-8
OS name: "linux", version: "4.4.50-v7+", arch: "arm", family: "unix"
[INFO] Error stacktrac

[2017-04-26 17:06] lbarry96 commented on #709
The window pops up now with the url directing me to amazons webssite i login and click okay but then after that i get a message saying
![image](https://cloud.githubusercontent.com/assets/27971895/25446913/1a26ea7c-2a81-11e7-81a1-409cf50cd3c7.png)
Is this my fault that this message keeps appearing or is it amazons fault?

[2017-04-26 19:55] stevbenn commented on #715
@falent:

The wake words are fixed in Sensory.  KITT.AI would require you to supply a model if you want to use another wake word.  You can check the [github repository](https://github.com/Kitt-AI/snowboy) for KITT.AI to get more details.

Could you provide more details on what you're looking to accomplish?

It can be done, but it requires some work on the wake word agent.  The wake word engine use

[2017-04-26 22:46] koolkarni commented on #172
Add "sudo" when you do mvn

[2017-04-27 00:37] koolkarni commented on #345
~/Desktop/alexa-avs-sample-app/samples/javaclient$ echo $LD_LIBRARY_PATH
/usr/lib/vlc

~/Desktop/alexa-avs-sample-app/samples/javaclient$ echo $VLC_PLUGIN_PATH
/usr/lib/vlc/plugins

Still I am getting

Desktop/alexa-avs-sample-app/samples/javaclient$ mvn exec:exec
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building

[2017-04-27 00:41] koolkarni opened #716 "Java client not starting"
~/Desktop/alexa-avs-sample-app/samples/javaclient$ echo $LD_LIBRARY_PATH
/usr/lib/vlc

~/Desktop/alexa-avs-sample-app/samples/javaclient$ echo $VLC_PLUGIN_PATH
/usr/lib/vlc/plugins**

Still I am getting

Desktop/alexa-avs-sample-app/samples/javaclient$ mvn exec:exec
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Buildin

[2017-04-27 01:48] stevbenn commented on #716
@koolkarni: Let's confirm first that libvlc.so is in your path with the following commands:
[code]
Can you share the output?

[2017-04-27 02:01] Firedan1176 commented on #519
The target audio output is assigned when you first run the `automated_install.sh` script and it asks whether you're using 3.5mm or HDMI. The script simply runs the following command: `sudo amixer cset numid=3 2`. Nothing else is changed. Therefore, you should just be able to run this in a terminal and your output should be configured correctly.

[2017-04-27 03:49] Kinjalk commented on #701
@Petr2 Check [#203](https://github.com/alexa-pi/AlexaPi/issues/203#issuecomment-294254644) again. I have added steps for new repo.

[2017-04-27 04:47] lvan-jone opened #717 "step2 找不到或无法加载主类 com.amazon.alexa.avs.App"
Thank everyone for reading and answering.

After downloading alexa-avs-sample-app, execute the command "D: \ Lvan \ eworkspaces \ avssamplef" mvn exec: exec -Dalpn-boot.version = 8.1.7 as described in "javaclient / readme.txt". V20160121 "after the error, the following is a screenshot（The following is an error description in "cmd"）:

**********************************************
Microsoft Windows

[2017-04-27 07:20] jtlkm commented on #693
Hello @scotthea-amazon
The server will return  x-amzn-requestid, I have listed in the top of the question。
I follow the changes you say as follows, the problem still exists：
{ "context": [ { "header": { "namespace": "AudioPlayer", "name": "PlaybackState" }, "payload": { "token": "abcd", "offsetInMilliseconds": 0, "playerActivity": "IDLE" } }, { "header": { "namespace": "Alerts", "name": "AlertsSta

[2017-04-27 17:08] sunildm4u commented on #94
Please reopen this issue. This is a major step in using raspberrypi as echo

[2017-04-27 18:03] koolkarni commented on #716
**## nik@COROS_TX2_1:~$ ls -l $LD_LIBRARY_PATH**
total 40
-rw-r--r--  1 root root  1980 Feb 22 15:14 libcompat.a
lrwxrwxrwx  1 root root    21 Feb 22 15:14 libvlc_vdpau.so -> libvlc_vdpau.so.0.0.0
lrwxrwxrwx  1 root root    21 Feb 22 15:14 libvlc_vdpau.so.0 -> libvlc_vdpau.so.0.0.0
-rw-r--r--  1 root root 14304 Feb 22 15:14 libvlc_vdpau.so.0.0.0
drwxr-xr-x  8 root root  4096 Apr 25 21:54 lua
drwxr

[2017-04-27 18:16] stevbenn commented on #716
@koolkarni:
I don't see either of the files suggested by the error message:
[code]

Are you sure VLC is installed correctly?

[2017-04-27 18:52] stevbenn commented on #717
@lvan-jone:
Are you following the tutorial instructions here?
[https://github.com/alexa/alexa-avs-sample-app/wiki/Windows](https://github.com/alexa/alexa-avs-sample-app/wiki/Windows)

[2017-04-28 00:10] lvan-jone commented on #717
@stevbenn Yes, I follow, but copy the project in the directory, Java classes are being given, no JAR package, so want to deal with the next.
And then out of this error

[2017-04-28 00:12] koolkarni commented on #716
### Now i have all the required files still it says the same thing

**nik@OOS_TX2_1:~/Desktop/alexa-avs-sample-app/samples/javaclient$** ls -l $LD_LIBRARY_PATH
total 1048
-rw-r--r--  1 root root   1980 Feb 22 15:14 libcompat.a
lrwxrwxrwx  1 root root     19 Feb 22 15:14 libvlccore.so -> libvlccore.so.8.0.0
lrwxrwxrwx  1 root root     19 Feb 22 15:14 libvlccore.so.8 -> libvlccore.so.8.0.0
-rw-r--r-

[2017-04-28 00:45] koolkarni commented on #716
Issue is resolved after adding the following line in /AVS/App.java main function.
System.setProperty("jna.nosys", "true");

referred already opened issue

[2017-04-28 00:45] #716 closed

[2017-04-28 02:52] Vikaton opened #718 "Connecting to AVS with Node.js"
I am trying to connect to the AVS API with Node.js as the client, but I keep getting a strange error while trying to read from amazon's response:

Error:
[code]

and here is my code:

[code]

I did some research and it said this would be an issue on Amazon's side, any workaround or fixes in the near future?

[2017-04-28 03:08] thebulletghost opened #719 "Site can't be reached?"
After I type mvn exec:exec and it takes to to the localhost site chromium says "This site cna't be reached" please help

[2017-04-28 15:11] yugoren commented on #718
Hi @Vikaton,

As far as I understand, this question is not related to the Java sample app we provide in this library. Are you trying to write your own AVS client using Node.js? If so, it is better to ask a question in the [AVS forum space](https://forums.developer.amazon.com/spaces/38/Alexa+Voice+Service.html) since this repository is for Java sample app only.

Here are some initial thoughts: If y

[2017-04-28 15:11] #718 closed

[2017-04-28 15:17] yugoren commented on #719
Hi @thebulletghost,

Do you have the companion service (properly) running in the background before you click OK in the app, as given in Step 6a [here](https://github.com/alexa/alexa-avs-sample-app/wiki/Mac#6a---nodejs)?

Also, which platform are you trying the code on?

[2017-04-28 15:46] yugoren commented on #703
Hi @RobertGuy09,

Unfortunately, we only support USB microphones in Raspberry Pi at the moment. It's being considered as a feature request (posted [here](https://forums.developer.amazon.com/content/idea/58485/selectable-audio-output.html)).

Note: To test the I2S microphone if it can record proper audio for AVS, you could try
[code]
where `-d 2` means 'record for 2 seconds', `-r 16000` sets the sa

[2017-04-28 16:05] yugoren commented on #705
Hi @Knightcard,

Thanks for summarizing the status that you're in. I still believe that this is due to ALSA settings of your RPi. Could you attach `cat /usr/share/alsa/alsa.conf` and `ls /usr/share/alsa/alsa.conf.d/` so that we can go from there to solve this?

[2017-04-28 18:23] stevbenn commented on #717
@lvan-jone: Have the other items from [Step 6](https://github.com/alexa/alexa-avs-sample-app/wiki/Windows#6---run-the-sample-app) been successful?  e.g.
[code]

Also, which directory are you running this from?

[2017-04-28 19:43] Vikaton commented on #718
I have authentication down with no problem, and Im sorry as that commented out line of code may be misleading, but let's assume I have a correct token.

so I figured that its because I am not using an http/2 client with my node code, so I used one and I got this error after a complete (?) request. I'm not trying to authenticate with the API right now, I'm just trying to connect with no errors (bes

[2017-04-28 19:55] koolkarni opened #720 "No Wake word support for alexa"
Just want to know is there any blog or way to get wake word working for  linux

[2017-04-28 20:59] z10nn commented on #94
I agree, please re-open this issue. We need to solve this.

[2017-04-28 21:20] stevbenn commented on #706
@mowoe:  Can you include information on where you modified the locale so I can attempt to reproduce this?

[2017-04-28 22:44] yugoren commented on #713
Hi @khalil-rashow,

You have to keep the Node server running since it refreshes the refresh token around expiration time.

I checked back about running Node server on an another PC, and it is actually possible if RPi and PC are in the same local network. You'll need to do some modification to the workflow
1. You'll need to port [`companionService`](https://github.com/alexa/alexa-avs-sample-app/tre

[2017-04-28 22:48] yugoren commented on #709
@lbarry96: It seems like you have a badly constructed LWA request. This is probably due to missing/bad fields in your `config.json` under `javaclient` or the configuration for your companion app/service. Could you tell us which authentication method you're using so that we can help you better?

[2017-04-28 23:08] yugoren commented on #720
Hi @koolkarni,

Have you looked at Raspberry Pi tutorial to set it up? You can start there and modify the codes to compile the sample app on Linux with wake word support.

[2017-04-29 00:30] lvan-jone commented on #717
@stevbenn I have not yet come to step 6，
(I was in the javaclent directory before the copy, and later being given,)
Now a new web project, put all the catalogs into the project.

![dir](https://cloud.githubusercontent.com/assets/26494609/25551350/14985212-2cb6-11e7-92f1-082db1c7d4a0.PNG)

[2017-04-29 11:15] rebla commented on #708
Hello,
This is the trigger i'm trying:
![captura de pantalla 2017-04-29 13 11 54](https://cloud.githubusercontent.com/assets/4763025/25555068/9a2da05e-2cdd-11e7-969c-43f00bebbfec.png)

The connection to alexa says active:
![captura de pantalla 2017-04-29 13 12 10](https://cloud.githubusercontent.com/assets/4763025/25555069/a753152a-2cdd-11e7-9fca-d22df459ea86.png)

But my alexa still saying that c

[2017-04-29 16:02] Netaid commented on #709
@yugoren  & @lbarry96

it seems I've the same problem ( Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.2.1:exec)! How did you solved that the java plugin window pops up?

[2017-04-29 18:14] yugoren commented on #717
Hi @lvan-jone,

I don't understand what you mean by ' have not yet come to step 6' since the command `mvn exec:exec` is not executed until [Step 6.8](https://github.com/alexa/alexa-avs-sample-app/wiki/Windows#6---run-the-sample-app). Have you completed all the previous steps in that link?

Also, why are you passing `-Dalpn-boot.version=8.1.7.v20160121` to `mvn`? That's not listed in the instructio

[2017-04-29 18:28] yugoren commented on #709
@netaid: Your problem seems unrelated to the latest point @lbarry96's at (cf. [this comment](https://github.com/alexa/alexa-avs-sample-app/issues/709#issuecomment-297477775)). Could you open a separate issue with complete output of Maven, together with which system you're building on?

[2017-04-29 19:21] yugoren commented on #708
Hi @rebla,

I've added IFTTT with an Alexa provided trigger (the ones that have a blue check next to them) and I was able to trigger [Find My Phone](https://ifttt.com/applets/53436563d-tell-alexa-to-find-your-phone) using the sample app. Could you try enabling this one and triggering it? If that works, then my guess is that there's something wrong with the trigger, mostly something with the trigge

[2017-04-29 20:52] yugoren commented on #693
Hi @jtlkm,

A couple of things here:
1. Is this an issue related to the Java sample app? If not, we recommend to post on our [AVS forum space](https://forums.developer.amazon.com/spaces/165/index.html) so that we have all AVS related questions under the same platform. Could you post there, link it here in a comment (and also link this issue in the forum post)?
2. Sharing the authorization tokens (

[2017-04-29 21:29] yugoren commented on #682
@howardguo: Referenced issue #678 was closed. I'll go ahead and close this one too, but feel free to open it.

[2017-04-29 21:29] #682 closed

[2017-04-29 22:23] akshaykhale1992 opened #721 "Java Exception while starting Client (mvn exec:exec)"
Below is the terminal Output when I executed `mvn exec:exec`, I have tried all the related threads but nothing worked.
[code]

I tried `sudo mvn -e install` also, in that case build succeeded but I am not getting the popup with the URL for with registration token.

[2017-04-29 22:30] tomesdw commented on #707
yes, after a windows update, something got messed up (and a system restore
failed) so I am going to start from scratch as I had to reinstall
Windows...  -=sigh=-  More to follow after I dig out from under this one...

On Tue, Apr 25, 2017 at 11:55 AM, Yusuf Goren <notifications@github.com>
wrote:

[2017-04-29 23:25] yugoren commented on #721
Hi @akshaykhale1992,

I'm assuming you're on the Raspberry Pi and trying to setup the app without a screen attached to it. Have you set up [VNC](https://github.com/alexa/alexa-avs-sample-app/wiki/Setup-SSH-&-VNC) to mirror your X Display on your desktop? The Java sample app needs to have some kind of display, real or mirrored.

Also, you shouldn't need `sudo` for install and it's better not to use

[2017-04-29 23:27] yugoren commented on #707
@tomesdw: Good luck with that! I'll close the issue for the moment, but please feel free to open it again if the problem persists after re-install.

[2017-04-29 23:27] #707 closed

[2017-04-30 05:16] akshaykhale1992 commented on #721
Thanks @yugoren

When I tried with the VNC it worked perfectly

Thank you so much!!!

Live Long and Prosper!!!

[2017-04-30 05:16] #721 closed

[2017-04-30 15:07] felixstreak opened #722 "alexa mvn exec:exec Build Fail"
felix@felix-VirtualBox:~/alexa-avs-sample-app/samples/javaclient$ mvn exec:exec
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Alexa Voice Service Sample Java Client 20160207.3
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- exec-maven-plugin:1.2.1:exec (default

[2017-05-01 16:00] hiephm commented on #575
I have exactly the same issue as @danprime.

Seem that because the recording audio format is hard-coded to LPCM 1 channel, 16 bit, 16 kHz (https://github.com/alexa/alexa-avs-sample-app/blob/master/samples/javaclient/src/main/java/com/amazon/alexa/avs/AudioInputFormat.java#L52), so any different format will cause distortion.

Unfortunately my Windows machine only support 2 channels and 44.1kHz and

[2017-05-01 17:19] keleric commented on #628
Hi @Darksider109, can you try pasting that again, this time between 3 ticks?. That way it gets formatted as code and it's a lot more understandable.

Like so:

\`\`\`
\<Paste here\>
\`\`\`

[2017-05-01 17:27] keleric commented on #662
One note that may be a cause of problems: you cannot use both the ```alexa:all``` scope and ```profile``` scope with the same authorize call. You'll need to do two authorize calls. Could that be the problem you're facing?

[2017-05-01 17:32] keleric commented on #619
Sorry, I need to clarify @dskidmor's comment. WiringPi is optional in the sense that only the GPIO wake word uses it. If you don't need the GPIO wake word, then you don't need wiring pi. HOWEVER, the wake word agent will not compile without it, unless you remove anything that has GPIO in the name. You'll also need to modify this file to remove the GPIO references: https://github.com/alexa/alexa-av

[2017-05-01 17:45] keleric commented on #649
@Xperia0, I'm sorry you're having this issue. When you say "Alexa" with the wake word agent running, what is it's output? You say there are no errors, but did it print any log lines at all when you said "Alexa"?

[2017-05-01 17:48] keleric commented on #653
The Pi Zero is not officially supported. It's possible you can get the app to work (I know a lot of people on the forums are attempting to get it working on the Zero, but I don't know how successful they are). One thing you can try is outputting the audio via the HDMI output that the Pi Zero has. However, I'm afraid I don't have any good solutions for a seamless USB audio output. If you do end up

[2017-05-01 18:19] namanmittal-namanm commented on #722
Hi @felixstreak, Can you please paste the output of mvn -X exec:exec

[2017-05-01 18:29] keleric commented on #660
Just to confirm:

1. You are running this on a Raspberry Pi?
2. You have a USB microphone attached?
3. The USB microphone works with AVS without the wake word agent - push to talk works?

[2017-05-01 18:31] keleric commented on #668
We're closing this Issue since the original poster (or another commenter) hasn't yet responded to the question or request made to them 14 days ago. We therefore assume that the user has lost interest or resolved the problem on their own.
Don't worry though; if this is an error, let us know with a comment and we'll be happy to reopen the Issue.
Thanks!

[2017-05-01 18:31] #668 closed

[2017-05-01 18:42] keleric commented on #669
Hey @vatsal2210, I'm sorry this isn't working for you. Just a couple questions.

1. Does push to talk work?
2. Are you using a USB microphone?
3. We just released a new version of the app with updated "Alexa" models for improved recognition accuracy. Have you tried that?

[2017-05-01 18:57] #644 closed

[2017-05-01 19:01] keleric commented on #649
Also, can you check that in the config.json file in the javaclient, wakeWordEnabled is set to true?

[2017-05-01 19:01] keleric commented on #660
Also, can you check that in the config.json file in the javaclient, wakeWordEnabled is set to true?

[2017-05-01 19:01] keleric commented on #669
Also, can you check that in the config.json file in the javaclient, wakeWordEnabled is set to true?

[2017-05-01 19:07] felixstreak commented on #722
felix@felix-VirtualBox:~/alexa-avs-sample-app/samples/javaclient$ mvn -X exec:exec
Apache Maven 3.3.9
Maven home: /usr/share/maven
Java version: 1.8.0_121, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-8-openjdk-amd64/jre
Default locale: de_DE, platform encoding: UTF-8
OS name: "linux", version: "4.8.0-49-generic", arch: "amd64", family: "unix"
[DEBUG] Created new class realm maven.api
[

[2017-05-01 19:20] keleric commented on #677
Hi @satishc4u,

1. That's really a product decision. As you'll be the one building this product, you have to be the one to make the decision as to what OS / processing power / CPU makes the most sense for your device. There's nothing technical preventing AVS from working, but you'll want to make sure that whatever media playing library you use can support a wide variety of formats. GStreamer is of

[2017-05-01 20:11] keleric commented on #722
Please see the following troubleshooting page and let us know if it resolves your problem: https://github.com/alexa/alexa-avs-sample-app/wiki/Troubleshooting#unable-to-find-avsappclass

[2017-05-02 00:26] koolkarni commented on #720
i will give it a try, But is there any blog or smthing to ease this work ?

[2017-05-02 00:44] keleric commented on #720
Actually, there are Linux-specific steps here: https://github.com/alexa/alexa-avs-sample-app/wiki/Linux

[2017-05-02 00:46] koolkarni commented on #720
@keleric  I am looking to have a wake word program for linux.

"cd wakeWordAgent/src && ./wakeWordAgent -e kitt_ai"

[2017-05-02 02:43] RogerZheng commented on #671
thks ,I have modify the source code of vlc to solve it.
Like this:
add propetity in java cmd，-Dvlcj.log=DEBUG

[2017-05-02 03:28] lvan-jone commented on #717
@yugoren The original second step do not have to deal with sample, has passed, still thank you and thank @stevbenn

[2017-05-02 03:28] #717 closed

[2017-05-02 03:44] lvan-jone opened #723 "step4-4.8 ssl.cnf unable to find 'distinguished_name' in config problems making Certificate Request"
Thank everyone for reading and answering.

![generate_error](https://cloud.githubusercontent.com/assets/26494609/25603098/aee9cacc-2f2b-11e7-8857-d0c859f15ee3.png)
![sslcnfpric](https://cloud.githubusercontent.com/assets/26494609/25603097/aee3780c-2f2b-11e7-900c-5cf172ff9cb9.png)

When I execute to 4.8, the error occurred, as shown, "req: Error on line 1 of config file" ./ssl.cnf "
Unable to find

[2017-05-02 07:43] lvan-jone commented on #723
In addition, some directories are found, for example, "openssl.cfg" in "set OPENSSL_CONF = {OpenSSL installation location} \ bin \ openssl.cfg" is not found;
There are prompts that can not find the directory of those files.

[2017-05-02 10:29] tsathish123 opened #724 "ENOTFOUND api.amazon.com api.amazon.com:443"
I am trying to use the Alexa sample app in linux by following the instruction from the Github - "https://github.com/alexa/alexa-avs-sample-app/wiki/Linux#6a---nodejs". But unfortunately i stuck up at the point no. 6a from the instruction in the link. I started the server by the command "npm start" and client service by "mvn exec:exec". A pop up windows has come. I copied the link contains localhos

[2017-05-02 12:17] tsathish123 commented on #404
I am also having issue in getting a token.

1. run mvn exec: exec
2. see first pop up titled "Alexa Voice Service"
3. see second pop up titled "Login to Register/ Authenticate your Device" with a browser URL to open
4. open provided URL in browser,
5. A pop up window with "cancel" or "continue". I selected continue option.

Now there is no response. It stays in the same screen indefinitely. If i w

[2017-05-02 14:30] bweatherhead commented on #519
Hello I think I have a similar issue. Right now I've got a justboom amp board mounted on my pi. I have two speakers coming off the amp. I would like to set that as the output sound, but when setting up AVS on the pi it only gives me two options for audio output, mini hdmi and 3.5mm jack. I've been searching for a few days for solutions. How can I set the audio output so it goes through my amp and

[2017-05-02 14:32] bweatherhead opened #725 "Alexa AVS Audio Output Through Amplifier"
Hello, right now I've got a justboom amp board mounted on my pi. I have two speakers coming off the amp. I would like to set that as the output sound, but when setting up AVS on the pi it only gives me two options for audio output, mini hdmi and 3.5mm jack. I've been searching for a few days for solutions. How can I set the audio output so it goes through my amp and speakers? Thanks!

[2017-05-02 15:22] bweatherhead commented on #725
This is the amp I'm using:

https://www.justboom.co/product/justboom-amp-zero-phat/

[2017-05-02 15:38] Firedan1176 commented on #519
Bweatherhead, I'd suggest looking at the FAQ for your amp at https://www.justboom.co/faqs/. You can change the audio output by typing `sudo raspi-config` in the terminal, going to Advanced, and changing the audio output. let me know if that works, based off of the solutions on the FAQ.

[2017-05-02 16:15] bweatherhead commented on #519
Alright I tried that. Now how do I reset the audio output that I was prompted about during AVS setup? Do I have to reinstall and go through those prompts again?

[2017-05-02 16:16] bweatherhead commented on #519
Thank you very much for you help so far!

[2017-05-02 16:18] keleric commented on #720
@koolkarni I misread the post originally, which is why I deleted the comment. To my knowledge, there are no resources (blog posts, etc.) that guide you through that.

[2017-05-02 16:33] namanmittal-namanm commented on #723
Hi @lvan-jone, it looks like the ssl path didn't got set-up correctly and also it looks like you are trying to set up Alexa on Windows, so can you please try setting ssl path again as described in steps [here](https://github.com/alexa/alexa-avs-sample-app/wiki/Windows#4---generating-self-signed-certificates)

[2017-05-02 16:55] bweatherhead commented on #519
Decided to reinstall. When it came to the prompt about audio output the only two options were still 3.5mm jack and HDMI audio output. What am I missing? Where do I need to go to select my justboom amp as the output?

[2017-05-02 17:12] Firedan1176 commented on #519
Did you try the recommendations for updating your kernel using apt-get in the terminal? I would suggest completely reading the FAQ I posted if you haven't.

[2017-05-02 17:20] Firedan1176 commented on #519
No, you do not need to reinstall AVS. If you scroll up, you will find my first comment where I said all you need to do is type a command in the terminal. AVS does not do anything internally, that I am aware of.

The reason you do not see your amp as an option in the installer for AVS is because the installer only cares about 3.5mm or hdmi. You will have to change it using a command from the termin

[2017-05-02 17:44] bweatherhead commented on #519
I tried everything on the FAQ. OS is up to date on pi. Added a few lines to the config.txt file in the boot directory (suggested o the FAQ). Under the audio settings in sudo raps-config the only options showing up are the 3.5 jack and HDMI still. Thanks for your patience. I am pretty new to the raspberry pi (liking it a lot so far). Any other suggestions? Thanks!

[2017-05-02 17:52] Firedan1176 commented on #519
Check out https://www.justboom.co/software/configure-justboom-with-raspbian/

[2017-05-02 17:55] reesul opened #726 "Raspberry Pi: MVN fails to run correctly on autostart"
I am trying to get the sample app running automatically upon each boot.  NPM and WakeWord are not an issue; they haven't given me any sort of problems.  I cannot seem to get Maven to build the java app correctly though.  Each method for starting this at boot has the app start recording audio, but it does not stop recording or give a response like the working app does.  I can run the mvn exec:exec

[2017-05-02 18:14] Firedan1176 commented on #519
Try this:

Make sure your amp is completely up and running and change the audio output to auto in raspi config. Reboot and see if that works. If not, I have no other recommendations.

[2017-05-02 21:28] bweatherhead commented on #519
I'll keep trying stuff out with the sound. Ran into another problem. Wasn't letting me register my device (kept saying "can't process request right now"). Just to make sure I'm doing everything right, these are the three codes I need when putting in my account info during setup correct?
<img width="273" alt="screen shot 2017-05-02 at 5 26 44 pm" src="https://cloud.githubusercontent.com/assets/1028

[2017-05-02 21:43] joel0063 opened #727 "Must I keep the RPi's hostname as the default (raspberrypi) for the automated_install.sh to work correctly?"

[2017-05-02 22:00] Firedan1176 commented on #519
You don't need the security profile ID. The first field that the installer will ask for is the product ID. This is what you called your raspberry pi when you registered it before you made the security profile.

[2017-05-02 22:08] bweatherhead commented on #519
Awesome thank you so much for your patience. You've been really helpful!

[2017-05-02 22:15] namanmittal-namanm commented on #724
Hi @tsathish123, It looks like there was an outage on our side, can you please try again.
I can ping api.amazon.com now
![pingoutput](https://cloud.githubusercontent.com/assets/25335166/25641660/2bdfee4e-2f4a-11e7-94bc-8179bdbe15e8.PNG)

[2017-05-02 22:33] namanmittal-namanm commented on #725
Hi @bweatherhead Sorry we currently we do not support Audio output through mechanisms other than HDMI and 3.5mm jack for output, that said you can search through the github forum to see how others have switched their output device.
Example of Github posts for switching audio output device:
https://github.com/alexa/alexa-avs-sample-app/issues/519
Let us know if you are able to get it work.

[2017-05-02 22:38] namanmittal-namanm commented on #727
Hi @joel0063 I believe you can change the RPi hostname, are you facing problems during installation? If so can you please paste the error's you are getting.

[2017-05-02 22:57] 1liminal1 commented on #519
I've been following this thread for a while and keep thinking to myself, just get an Echo Dot. I did, so much more responsive then running it on a Pi.

But now I under stand what you're actually trying to do and you are a genius!!

I've been wanting to do something slimier but use Forked-Daapd to output music from en echo dot to SharePort, it works ok, cant control the connection though, but it do

[2017-05-02 23:07] bweatherhead commented on #519
Hello, while I appreciate your praise I must admit I am far from genius. Do you have any idea as to how I would change the audio output to an amplifier?

[2017-05-02 23:23] 1liminal1 commented on #519
LOL, its pretty genius

Anyway, you must be able to do it.

But first do you know if the just boom amp is working?

Have you followed this?

https://www.justboom.co/software/configure-justboom-with-raspbian/

If that's working ok and you can get sound, have a look around on how to make it the only sound device available on the Pi. They select the headphone jack as the audio output and hope that AV

[2017-05-03 00:08] Firedan1176 commented on #519
1liminal1, you can not play Pandora on Alexa using AVS on a raspberry pi. iHeartRadio and a few others work, however.

[2017-05-03 01:55] 1liminal1 commented on #519
Your right!

I was thinking of spotify, but thats not going to work.

Dam it!! Not sure why they make it so hard!

[2017-05-03 02:20] lvan-jone commented on #30
@renyats71  Did you solve the problem? I encountered the same problem

[2017-05-03 02:31] lvan-jone commented on #723
My "ssl configuration" was shown to be successful
In addition, I saw the same question in the forum, changed to this, or not
`[req]
distinguished_name      = req_distinguished_name
prompt                  = no

[v3_req]
subjectAltName          = @alt_names

[alt_names]
DNS.1                   = localhost
IP.1                    = 127.0.0.1
IP.2                    = 10.0.2.2

[req_distinguished_nam

[2017-05-03 03:37] lvan-jone commented on #723
@namanmittal-namanm  this is my openssl option:
OpenSSL 1.1.0c 10 Nov 2016
Built on: reproducible build, date unspecified
Platform:
Compiler: cl "" VC-WIN64A
OPENSSLDIR: "C: \ Program Files \ Common Files \ SSL"
ENGINESDIR: "C: \ Program Files \ OpenSSL \ lib \ engines-1_1"

[2017-05-03 04:36] tsathish123 commented on #724
![alexa](https://cloud.githubusercontent.com/assets/28295667/25648259/c75519c4-2fe7-11e7-9138-6838d9a3213b.png)
Ping got failed for me. Attached the screen shot of the issue. I am trying from my company. So i set the proxy correctly. If not please let me know where to look for proxy set up related to amazon server. Is there any issue related to region? since i am working from India.

[2017-05-03 05:32] tsathish123 commented on #724
![alexa_ping](https://cloud.githubusercontent.com/assets/28295667/25649043/b5051c3a-2fef-11e7-96c1-358492673e95.png)
But if i try to ping the api.amazon.com ip address (54.239.27.17 - taken from your screenshot) directly then it is working perfectly. Please let me know how to proceed on this.

[2017-05-03 07:30] tsathish123 commented on #724
I could resolve all the issues related to network by changing in /etc/hosts file. Now token is generated and client app has started for mic input. But i stuck up in another issue which is exactly same as given in the link - https://forums.developer.amazon.com/questions/10610/javautilconcurrenttimeoutexception-and-error-in-sp.html#answer-69656

I am repeating same question here as well - Is AVS wor

[2017-05-03 09:03] tsathish123 commented on #514
I end up in same issue. I am working from India. Is there any improvement with the changes in timeout value?

[2017-05-03 09:24] qwerk opened #728 "I cannot get wake word to work on windows."
there is no way ( in my installation) to get wake word to work.
Are there guidelines ? or updates?

[2017-05-03 11:31] lvan-jone opened #729 "npm start error -"products" error"
Thank everyone for reading and answering.

When I execute "npm start" the following error occurs,
`LvandeMacBook-Pro:companionService lvan$ npm start

This node service needs to be running to store token information memory and vend them for the AVS app.

/Users/lvan/Documents/amazon/alexa-avs-sample-app/samples/companionService/config.js:27
        "amzn1.application.6f4d5046ad64b188c95a8d3a056774

[2017-05-03 14:54] Darksider109 commented on #628
Hi
I rtestarted the whole install but this time I did an upgrade to Jessie and then started the Alexa install.  now I get the following which freezes (see bellow:

________________

[INFO] Scanning for projects...
Downloading: https://repo.maven.apache.org/maven2/org/apache/maven/plugins/maven-clean-plugin/2.5/maven-clean-plugin-2.5.pom
Downloaded: https://repo.maven.apache.org/maven2/org/apache/m

[2017-05-03 16:25] namanmittal-namanm commented on #729
Hi @lvan-jone It looks like "testdevice1": ["DSN1234", "DSN5678"] (In your 2nd try this looks like unknown token "DSN5678"] ) is not getting commented out and is being treated as unknown key value pair can you please delete the part you were commenting and try gain with correct values of ProductID and DSN.

[2017-05-03 16:41] namanmittal-namanm commented on #724
Hi @tsathish123 Currently we are not supporting AVS request from India. We am sorry about that.

[2017-05-03 17:55] namanmittal-namanm commented on #628
Hi @Darksider109, do you have a display connected to your Pi? If so, can you please run
`export DISPLAY=:0.0`

[2017-05-03 18:16] namanmittal-namanm commented on #691
Hi @RogerZheng Is your issue resolved? Is for can we close the issue?

[2017-05-03 18:21] namanmittal-namanm commented on #671
Hi @RogerZheng, Is the issue resolved, can we close the issue?

[2017-05-03 20:52] namanmittal-namanm commented on #728
Hi @qwerk, Currently we do not support wake work on Windows, it is available only on Raspberry Pi for now.

[2017-05-03 22:38] namanmittal-namanm commented on #726
Hi @reesul, I looks like there might be a problem with the cron entry, I think what you may try is before starting the job you can try to kill the running process and then start the application.

[2017-05-03 22:55] namanmittal-namanm commented on #723
Hi @lvan-jone Sometime the editor messes the file with non-visual characters which creates problems while parsing, what I recommend doing once is to again download the ssl.conf file and try editing it in a different editor.

[2017-05-03 23:05] D3rpi opened #730 "Getting all sounds to a bluetooth speaker"
Hello,
It's not really an issue but more of an improvement/question. How do I redirect the sound from the java app to a bluetooth speaker. I currently have a bluetooth speaker in my set up, which is my primary audio sink in pulseaudio. Alexa plays some audio over bluetooth and some through the 3.5mm jack. For example music and flash briefings play over bluetooth but all the the audio prompts from

[2017-05-03 23:09] D3rpi commented on #94
Since this one is still closed, I opened a new issue about this topic.
https://github.com/alexa/alexa-avs-sample-app/issues/730

[2017-05-04 00:06] JSONMartin commented on #730
👍  Having the same issue here. Would really appreciate a patch for this!

[2017-05-04 03:21] lvan-jone commented on #729
@namanmittal-namanm  When I delete the note, or so prompted, so I think it should be other issues

[2017-05-04 03:26] namanmittal-namanm commented on #729
Hi @lvan-jone Can you please paste your config.js file here. Also please remove clientID and secret before pasting.

[2017-05-04 03:52] lvan-jone commented on #729
/**
 * @module
 * This module defines the settings that need to be configured for a new
 * environment.
 * The clientId and clientSecret are provided when you create
 * a new security profile in Login with Amazon.
 *
 * You will also need to specify
 * the redirect url under allowed settings as the return url that LWA
 * will call back to with the authorization code.  The authresponse endpoint
 *

[2017-05-04 03:54] lvan-jone commented on #729
@namanmittal-namanm

[2017-05-04 03:55] lvan-jone commented on #729
@namanmittal-namanm `/**
 * @module
 * This module defines the settings that need to be configured for a new
 * environment.
 * The clientId and clientSecret are provided when you create
 * a new security profile in Login with Amazon.
 *
 * You will also need to specify
 * the redirect url under allowed settings as the return url that LWA
 * will call back to with the authorization code.  The auth

[2017-05-04 04:06] namanmittal-namanm commented on #729
Hi @lvan-jone it seems you are missing a comma after ["123456"] in products.
It should be
`amzn1.application.6f4d5046ead4***88c95a8d3a0567741": ["123456"],`
Also I think you are using security profile ID instead of deviceID (ProductId).

[2017-05-04 04:36] satishc4u commented on #677
Hi Keleric,

Thank you very much.

[2017-05-04 04:36] #677 closed

[2017-05-04 05:44] lvan-jone commented on #729
@namanmittal-namanm
LvandeMacBook-Pro:companionService lvan$ npm start

This node service needs to be running to store token information memory and vend them for the AVS app.

/Users/lvan/Documents/amazon/alexa-avs-sample-app/samples/companionService/config.js:27
        “amzn1.application-oa2-client.d2***###4d8701”: [“1234”] ,// Fill in with valid device values, eg: "testdevice1": ["DSN1234", "DS

[2017-05-04 05:52] lvan-jone commented on #729
Api document tips:

`8.In your favorite text editor, open {REFERENCE_IMPLEMENTATION}/samples/companionService/config.js and edit the following values:
clientId: Paste in your client ID as a string.
clientSecret: Paste in your client secret as a string.
products: The products object consists of a key that should be the same as the product ID (also referred to as Device Type ID) that you set up in t

[2017-05-04 07:21] gopal-amlekar commented on #514
@tsathish123 , I have stopped working on it currently. It is better to wait for Alexa to be supported from India properly.

[2017-05-04 09:18] Darksider109 commented on #628
HI
No I access the Pi with SSH

[2017-05-04 11:18] BAODAU commented on #628
I had the same issue like you. I think you should run all those commands in 3 terminals with a display monitor connected. If you are unable to connect your pi with a screen, setting up [VNC](https://github.com/alexa/alexa-avs-sample-app/wiki/Setup-SSH-&-VNC) and get [VNC Viewer](https://www.realvnc.com/download/viewer/) can help.

[2017-05-04 15:48] keleric commented on #730
Unfortunately, this isn't an easy fix. The root cause is likely that the media player used for Alexa speech is javazoom jlayer. This media player uses the Java sound api, which I believe uses the ALSA sound layer directly. VLC (the primary media player in the sample app) is nicer and allows you to specify where to direct the sound. I believe the proper fix is refactoring the audio class in its ent

[2017-05-04 15:48] #730 closed

[2017-05-04 15:49] keleric commented on #730
Optionally, you can put all output through the 3.5mm jack, and attach a bluetooth transmitter to that! Something like this should get all the audio: https://www.amazon.com/Wireless-Bluetooth-Stereo-Adapter-Transmitter/dp/B00RHKYX7W

[2017-05-04 15:50] keleric commented on #628
@BAODAU is correct - at this point in time, you need a display connected to the Pi in order to set it up. That display can be via remote desktop or a physical display, but you can't set it up in a completely headless fashion.

[2017-05-04 16:19] bweatherhead opened #731 "Wake Word Command Not Working"
Tried both engines for wake word and neither worked. I am able to use the alexa software just fine using the button on the GUI. Using a raspberry pi zero w with a justboom amp and two speakers connected to that amp. My usb mic works just fine. I tried running the commands to enable the wake word and the javaclient app didn't change to "listening" like I saw in the step-by-step. Any ideas?
<img wid

[2017-05-04 16:36] #731 closed

[2017-05-04 16:55] D3rpi commented on #730
Thanks for the info.

[2017-05-04 18:00] Darksider109 commented on #628
OK will try that and let know what's happening.

Thanks to all for your support it's greatly appreciated

[2017-05-04 18:11] layne00 commented on #709
@lbarry96 @yugoren did you guys ever resolve the login issue

"We're sorry!
An error occurred when we tried to process your request. Rest assured, we're already working on the problem and expect to resolve it shortly."

after you sign in to amazon after launching the java client? I am stuck at the same step.

[2017-05-04 18:21] lbarry96 commented on #709
After I did cd javaclient && mvn exec:exec -X it debugged everything and fixed the problem and everything started working from that point on I thought it was pretty strange. So the problem fixed itself I guess?

[2017-05-04 18:22] lbarry96 commented on #709
I had a typo is automated_install after I fixed that and re-ran the install it started working

[2017-05-04 18:24] layne00 commented on #709
here is the my config.json in javaclient
{
    "productId":"TJbot_Alexa",
    "dsn":"123456789",
    "provisioningMethod":"companionService",
    "wakeWordAgentEnabled":true,
    "locale":"en-US",
    "companionApp":{
        "localPort":8443,
        "sslKeyStore":"/home/pi/Documents/work/alexa-avs-sample-app/samples/javaclient/certs/server/jetty.pkcs12",
        "sslKeyStorePassphrase":"",

[2017-05-04 18:28] layne00 commented on #709
the error with login page just went away too, without you doing anyting? I'm wondering if it's a problem with Amazon or not. I'll try the steps you took and see if anything changes.

[2017-05-04 18:52] keleric commented on #729
Can you paste your entire config.js file here? Please do so within a code block, and remove delete your client secret. There's clearly some issue with it that hopefully I can solve by looking at it.

[2017-05-04 18:53] layne00 commented on #709
Okay, it's fixed. The problem was the Product ID and Device ID did not match. I need to read the instructions more clearly next time. Thanks for the hints.

[2017-05-04 19:58] keleric commented on #628
No problem! Let us know if you continue to run into problems.

[2017-05-04 20:51] keleric commented on #709
Glad it's resolved!

[2017-05-04 20:51] #709 closed

[2017-05-04 20:58] keleric commented on #689
We're closing this Issue since the original poster (or another commenter) hasn't yet responded to the question or request made to them 18 days ago. We therefore assume that the user has lost interest or resolved the problem on their own.
Don't worry though; if this is an error, let us know with a comment and we'll be happy to reopen the Issue.
Thanks!

[2017-05-04 20:58] #689 closed

[2017-05-04 21:09] #728 closed

[2017-05-05 00:17] lvan-jone commented on #729
@keleric
config.js
`/**
 * @module
 * This module defines the settings that need to be configured for a new
 * environment.
 * The clientId and clientSecret are provided when you create
 * a new security profile in Login with Amazon.
 *
 * You will also need to specify
 * the redirect url under allowed settings as the return url that LWA
 * will call back to with the authorization code.  The authr

[2017-05-05 00:23] lvan-jone commented on #723
@namanmittal-namanm  I used the editor of the UE,What kind of the editor would be better?

[2017-05-05 02:44] Arroon opened #732 "Can I run the Alexa Voice Service on android or iOS ?"
Can I run the Alexa Voice Service on android or iOS ?
Because our hardware is just bluetooth earphone, Not Raspberry Pi, nor Linux, or Mac, or Windows。Thanks!

[2017-05-05 08:24] jacky-ge opened #733 "DownchannelRequestThread Crazy timeout"
What is the role of the DownchannelRequestThread？ I am prone to occur this exception

[2017-05-05 15:05] Darksider109 commented on #628
Hi
All went well except for 2 problems
1) When I asked Alexa the time I was given US time and not UK time
2) When I rebooted I could not get contact with Alexa

[2017-05-05 15:49] keleric commented on #729
Hi @lvan-jone,

As @namanmittal-namanm said, you have an incorrect product id. It should be the field in the following box:

![product id](https://cloud.githubusercontent.com/assets/18313017/25753062/1037f3a4-316f-11e7-9fc1-301fb89c5397.png)

Also, please delete the commas after ["123456"] and the following }. I believe those commas are making it invalid. You'll also want to make sure that you're

[2017-05-05 15:51] keleric commented on #732
Of course! Many people do so. Here are some links to get you started:
https://forums.developer.amazon.com/articles/10110/creating-an-android-avs-app-vs-creating-an-android.html
https://forums.developer.amazon.com/articles/10111/ensuring-your-ios-app-records-in-the-correct-forma.html
https://forums.developer.amazon.com/articles/40652/troubleshooting-the-okhttp-client-library.html
https://forums.dev

[2017-05-05 15:51] #732 closed

[2017-05-05 16:00] keleric commented on #733
If you look at our [documentation](https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/managing-an-http-2-connection#terms), you can see that the downchannel is how AVS sends commands to the client without an explicit user interaction on your device. It is integral for the correct functioning of different Alexa abilities. The DownchannelRequestThread is the thread that man

[2017-05-05 16:10] keleric commented on #628
1. In alexa.amazon.com, if you go to settings, do you have the correct location for your device? That's something you need to set manually for the java client.
2. What behavior do you see when this happens?

[2017-05-05 16:13] keleric commented on #723
@lvan-jone Try getting a fresh copy of ssl.cnf, then modifying it with notepad.exe.

[2017-05-05 20:44] koolkarni opened #734 "[Solution]: snowboy not getting installed on aarch64 systems (Nvidia TX2)"
when we try to run "/snowboy/example/c++/install_portaudio.sh"

It gives problem with config.guess and config.sub

by replacing the below attached files in portaudio.tar.gz file you will be able to install it

NOTE: remove .txt from both files once copied
[config.sub.txt](https://github.com/alexa/alexa-avs-sample-app/files/980287/config.sub.txt)
[config.guess.txt](https://github.com/alexa/alexa-av

[2017-05-06 01:47] lvan-jone commented on #729
@keleric @namanmittal-namanm
I used single quotation marks and double quotes, but also removed the comma, the result is the token is being given. As follows:

`LvandeMacBook-Pro:companionService lvan$ npm start

This node service needs to be running to store token information memory and vend them for the AVS app.

/Users/lvan/Documents/amazont/alexa-avs-sample-app/samples/companionService/config.j

[2017-05-06 01:48] lvan-jone commented on #729
@keleric  In addition, I also used the ID you said

[2017-05-06 01:53] lvan-jone commented on #723
@keleric  When I used notepad, then the following error occurred:

samples\companionService

This node service needs to be running to store token information memory and vend them for the AVS ap
p.

_tls_common.js:65
      c.context.setCert(options.cert);
                ^

Error: error:0906D06C:PEM routines:PEM_read_bio:no start line
    at Error (native)
    at Object.createSecureContext (_tls_co

[2017-05-06 02:02] lvan-jone commented on #729
@keleric
this is my config.js:
`/**
 * @module
 * This module defines the settings that need to be configured for a new
 * environment.
 * The clientId and clientSecret are provided when you create
 * a new security profile in Login with Amazon.
 *
 * You will also need to specify
 * the redirect url under allowed settings as the return url that LWA
 * will call back to with the authorization code

[2017-05-06 02:09] lvan-jone commented on #723
Because the 4.8 problem has been resolved, thanks to every answer, I finally version of the win can be changed to the Mac version, it is estimated that there are problems before the openssl configuration.
Now the problem is happening in 5.10, so I put this question off, 5.10 the link is here:
https://github.com/alexa/alexa-avs-sample-app/issues/729

[2017-05-06 02:09] #723 closed

[2017-05-06 03:53] lvan-jone commented on #640
@wjdean76  I would like to ask you what parameters to fill your products?
Can you give examples?
If you can, I want to see your "config.js"
Secret data remember to shield.
Thank you

There were some bugs in "products" in my "config.js", as follows:

                        ^
SyntaxError: Invalid or unexpected token
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)

[2017-05-06 03:57] lvan-jone commented on #623
@jtlkm @yugoren @jpeddicord @jpalat  @wjdean76  I would like to ask you what parameters to fill your products?
Can you give examples?
If you can, I want to see your "config.js"
Secret data remember to shield.
Thank you

There were some bugs in "products" in my "config.js", as follows:

                        ^
SyntaxError: Invalid or unexpected token
    at createScript (vm.js:56:10)
    at Objec

[2017-05-06 04:44] lvan-jone commented on #614
@armaatus @yugoren @xaos11 @jpeddicord @jpalat  hello,
I would like to ask you what parameters to fill your "products"? I use the "id": "serial
Number ",
![image](https://cloud.githubusercontent.com/assets/26494609/25769915/e6517548-3258-11e7-97b2-e08243c26b0f.png)
ID as shown above, but the error.
Can you give an example?
If i can, i want to see your "config.js"
Secret data remember to shield.
Th

[2017-05-06 08:10] LuBlaBo opened #735 "Amazon Music is not working anymore"
Hey there,

at first I have to say that my English is not the best... ;)
My question is about the Amazon Music Support for the Raspberry Pi.
Is there a possibility to make it run on it? Because i have imported two Songs up in the cloud and while the Service is running i was able to listen it. But after a restart over night this feature is also not longer avaiable.
Make that any sense?
Can i regist

[2017-05-06 18:10] Darksider109 commented on #628
Hi

Have now got everything working just a small problem:

There is a delay on the Alexa response which cuts off the bleep and the beginning of the reply

Any idea how I could fix this?

[2017-05-07 01:39] lvan-jone commented on #729
This is a solution today, is the symbol of the problem, thank you to answer.

[2017-05-07 01:39] #729 closed

[2017-05-07 02:41] lvan-jone opened #736 "mvn exec:exec ERROR -JsonParsingException"
Thank everyone for reading, and answering.
When I execute "mvn exec: exec", it appears“JsonParsingException”;
I checked the configuration file and did not find it. I hope you can help me check it out.
The following is an error message:

`LvandeMacBook-Pro:javaclient lvan$ mvn exec:exec
[INFO] Scanning for projects...
[INFO]
[INFO] -------------------------------------------------------------------

[2017-05-07 02:53] lvan-jone commented on #736
Suddenly the symbol that has been resolved

[2017-05-07 02:53] #736 closed

[2017-05-07 05:40] lvan-jone commented on #345
@sunnysharma03  @ajot   @mahim1245 Hello, my mac system, and the landlord encountered the same problem, how to solve.
I do according to the instructions, the following is my configuration, @sunnysharma03 said the order I can not be implemented, the system may not be the same bars.

LvandeMacBook-Pro:bin lvan$ echo $VLC_PLUGIN_PATH
/Applications/VLC.app/Contents/MacOS/plugins
LvandeMacBook-Pro:bin

[2017-05-07 05:48] lvan-jone opened #737 "“mvn exec: exec" encountered a problem"
Hello everyone, my mac system, "mvn exec: exec" encountered a problem, I checked a lot of information, said the linux system is the order to help, so still can not be used, please help look at how to solve.
I do according to the instructions, the following is my configuration,
[code]

[2017-05-07 06:33] lvan-jone commented on #737
[code]

[code]

[2017-05-07 21:07] tommyna5 opened #738 "USB Audio Adapter for microphone"
can I use USB Audio Adapter instead of the microphone? do I have to change anything from the settings?

![](http://geeksvalley.com/wp-content/uploads/2015/10/white-sound-card.jpg)
Thank you

[2017-05-08 05:26] HydroCarbons opened #739 "Wakeword not detected using sensory engine"
[Issue]
- Auto word detection via wakewordagent is not working.
- It is just displaying it's STATE set to IDLE(2)
- Refer to the screenshot.

[Troubleshooting]
- All three applications (companion app, javaclient and wakewordagent) are running fine without any errors on the terminal
- Wake Word Agent is invoked as ./wakewordagent -e sensory
- ** Java client app is running properly and I can click t

[2017-05-08 06:41] HydroCarbons commented on #738
Yes; more details here _https://learn.adafruit.com/usb-audio-cards-with-a-raspberry-pi_

[2017-05-08 11:51] domagalla commented on #574
Hey, i got the same issue.

My VLC_PATH is set like this: VLC_PATH=C:\Progra~1\VideoLAN\VLC

And JDK AND VLC are both 64bit. Can`t find a solution. Have you already one @SyedKabeer ?

[2017-05-08 13:54] Colin1964 opened #740 "Can't play Amazon music on this device? Raspberry Pi3"
Have managed to get Alexa-AVS-Sample-App working fine on my RPI3. Just can't seem to get Amazon music working. My Prime and Music subscription shows up in the PC based config utility of the app and if I click on an album or track in PC app the output is loud and clear from the Pi. When I try "Alexa, play some music from prime music" I get the response "This is not possible on this device"

[2017-05-08 16:31] elstryan commented on #628
Yes you will need to leave VNC viewer open or have a display connected.

Can you tell us about your audio output setup? In the past some users have had some trouble using USB sound cards so I want to check what you are using in case that's the issue.

[2017-05-08 18:06] elstryan commented on #734
Hi @koolkarni,

Thanks very much for posting this fix for other users.

This bug really belongs in the snowboy project - but it looks like you've already added it here: https://github.com/Kitt-AI/snowboy/issues/182. Right now we're only officially supporting the wake word engines on RaspberryPi and not aarch64. I'll close this issue and if Snowboy accepts your patch then any users that run the aut

[2017-05-08 18:06] #734 closed

[2017-05-08 18:58] Darksider109 commented on #628
Hi

I'm using a Veho 360 speaker that plugs straight into the Pi

[2017-05-08 20:40] elstryan commented on #735
Hi,
Amazon Music is currently limited to Alexa-enabled devices that are approved for commercial distribution and use. As a result I would expect the behavior that you are seeing after a reset. It's odd that it worked for a short period - I've tried this on some test devices myself and I never get Amazon music on non commercial device. I'll keep an eye out in case we can reproduce this.

If you are

[2017-05-08 20:41] #735 closed

[2017-05-08 20:43] elstryan commented on #628
Would it be possible to try directly on the PI instead of over VNC? Is it possible to try with a different audio output device such as headphones?

[2017-05-08 22:15] elstryan commented on #740
Hi,
At this time Amazon Music is only supported for commercially approved AVS devices. If you're working on a product for commercialization we have an page where you can share info about your product. Otherwise, if this is a device for a personal project you can still use other audio providers such as iHeart radio or TuneIn. I'll resolve this issue for now. Feel free to re-open in case you need an

[2017-05-08 22:15] #740 closed

[2017-05-08 23:10] pi3123 opened #741 "I'm actually done with building and using alexa but like would like to change the voice of alexa"
Can someone help me??

[2017-05-09 00:09] elstryan commented on #737
Can you check if the required libraries have been installed? Specifically

1) cd /Applications/VLC.app/Contents/MacOS/lib
2) ls

Verify that in that directory you can see libvlc.dylib and libvlccore.dylib

Can you try:
1) echo $VLC_PATH
2) echo $VLC_PLUGIN_PATH
and validate that the values that are output match what's on this page: https://github.com/alexa/alexa-avs-sample-app/wiki/Mac#3---install

[2017-05-09 00:23] elstryan commented on #739
Do you mind trying to run KITT.AI's wake word engine and checking whether that works or not?

There are steps here: https://github.com/alexa/alexa-avs-sample-app/wiki/Raspberry-Pi#terminal-window-3

[2017-05-09 01:14] elstryan commented on #741
HI pi3123,
Right now we don't support changing the voice of Alexa. This probably isn't exactly what you're looking for but you can try experimenting with changing the language of Alexa by setting a locale in the config: https://github.com/alexa/alexa-avs-sample-app/blob/master/samples/javaclient/config.json

I.e. you can try setting it to en-GB and Alexa will have a different accent.

I'm closing

[2017-05-09 01:14] #741 closed

[2017-05-09 01:26] elstryan commented on #738
Hi,
Did HydroCarbon's suggestion work for you?

[2017-05-09 02:16] ssfdre38 commented on #727
you can have different host names for the raspberry pi, it doesnt require it to be raspberrypi

[2017-05-09 02:18] lvan-jone commented on #737
@elstryan Ok, before two hours ago I have solved, is the symbol of the problem,
But still thank you for your answer.

[2017-05-09 02:18] #737 closed

[2017-05-09 05:58] HydroCarbons commented on #739
It is also not working, throwing **"Failed to open PortAudio stream.Device unavailable"**

[Screen logs]
pi@raspberrypi:~/Desktop/alexa_app/alexa-avs-sample-app/samples/wakeWordAgent/src $ ./wakeWordAgent -e kitt_ai
INFO:main: Starting Wake Word Agent
DEBUG:main: Creating Wake Word Agent instance
INFO:WakeWordAgent: State set to IDLE(2)
DEBUG:WakeWordAgent: initalizing | wake word engine of type:K

[2017-05-09 07:04] kevinkey619b opened #742 "Tokens expiring much quicker than usual"
Hi,

Has anyone else noticed that the tokens are expiring MUCH quicker than usual lately? Is there any workaround for this?

Thanks,

Kevin

[2017-05-09 12:14] pi3123 commented on #573
Same problem over her

[2017-05-09 12:14] pi3123 commented on #573
Here

[2017-05-09 12:41] fregie commented on #722
i meet this trouble too,and i don't find how to resolves it

[2017-05-09 13:41] Kinjalk opened #743 "How to make Executable .jar for Javaclient ?"
How to make Executable .jar for Javaclient ?

[2017-05-09 16:00] bjchristenson commented on #739
For what it's worth, I have it working upon boot by invoking a script running the three commands on boot. It is not an elegant solution but it works.

After I run
`cd ~/Desktop/alexa-avs-sample-app/samples`
`cd companionService && npm start`
`cd ~/Desktop/alexa-avs-sample-app/samples`
`cd javaclient && mvn exec:exec`

I have a `sleep 60` to ensure that the exec completes before running the wakeWor

[2017-05-09 16:47] elstryan commented on #722
Can you try posting the output from mvn install here? That way we can see if we can spot any errors.

[2017-05-09 16:54] elstryan commented on #739
Hi @HydroCarbons,

It looks like this is the same issue as this old bug: https://github.com/alexa/alexa-avs-sample-app/issues/687

Can you give those steps a shot and see if they work?

[2017-05-09 17:03] Darksider109 commented on #628
Have tried directly on the PI but the program freezes during the 2nd phase.

The sound works OK with headphones.

I will not be going forward with this project because of the limitations of having my TV locked up for the Alexa service and also having to go through the log off procedure and logging on each time I want to use it

Again thanks for all your help with this project

[2017-05-09 18:39] elstryan commented on #743
We don't yet have a target for this. You can look at the maven-assembly-plugin and add a target for generating an executable jar: https://maven.apache.org/plugins/maven-assembly-plugin/usage.html

If you do a search on that page for "Creating an Executable JAR" you'll find steps.

[2017-05-09 18:47] elstryan commented on #742
Hi @kevinkey619b ,

I tried to reproduce this on my device and I'm not able to see this. Can we check a few things:

What scopes are you authorizing for? Is it just alexa:all or are you also requesting additional scopes?

Can you try adding a log statement here: https://github.com/alexa/alexa-avs-sample-app/blob/master/samples/javaclient/src/main/java/com/amazon/alexa/avs/auth/OAuth2AccessToken.ja

[2017-05-09 18:48] elstryan commented on #727
I'll close this issue for now in light of the answers above. Feel free to re-open or let us know if you need anything else.

[2017-05-09 18:48] #727 closed

[2017-05-09 19:10] elstryan commented on #628
Hi,

We've just pushed an update to allow for persisting tokens within the companion service. This would mean that you wouldn't have to constantly log-in and log out. Let me know if you want more info on this feature.

I understand the drawback of having to have a screen up to use the application. We have a feature request to improve this part of the flow.

I'll close this issue for now and tag it

[2017-05-09 19:10] #628 closed

[2017-05-09 19:17] elstryan commented on #699
We don't have a sample but we have these code snippets: https://developer.amazon.com/public/solutions/alexa/alexa-voice-service/docs/authorizing-your-alexa-enabled-mobile-app. That page shows you how to perform an login with amazon authorization request to get an access token for your android device.

I'll close this issue for now - but if you need more information feel free to re-open.

[2017-05-09 19:17] #699 closed

[2017-05-09 20:31] kevinkey619b commented on #742
Thanks @elstryan . I've added a log statement and will let you know when the error occurs again. Where do I find the log file when that happens?

[2017-05-09 20:45] Kinjalk commented on #743
@elstryan  This is the error i am getting on executing .jar

`Exception in thread "main" java.lang.NoClassDefFoundError: org/slf4j/LoggerFactory
        at com.amazon.alexa.avs.AVSApp.<clinit>(AVSApp.java:22)
Caused by: java.lang.ClassNotFoundException: org.slf4j.LoggerFactory
        at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
        at java.lang.ClassLoader.loadClass(ClassLoad

[2017-05-09 21:09] elstryan commented on #743
Can you try the steps here: http://stackoverflow.com/questions/16222748/building-a-fat-jar-using-maven

It looks like there is a few more configurations that you need to add on-top of what's in the maven docs

[2017-05-09 21:10] elstryan commented on #742
In your local repository their should be the following directory: samples/javaclient/logs

Under the logs directory their is an application.log file

[2017-05-09 21:19] Kinjalk commented on #743
@elstryan i made changes in pom.xml but still i get same error !